<template>
    <section class="section centered full-height-without-banner" style="justify-content: normal">
        <div class="container has-text-centered">

            <div class="columns">
                <div class="column is-3">
                    <AccountMenu></AccountMenu>
                </div>
                <div class="column">
                    <slot></slot>
                </div>
            </div>

        </div>
    </section>
</template>

<script>

	import AccountMenu from '@/containers/account/account.menu'

	export default {

		components: { AccountMenu },
	}

</script>
<style>
    .full-height-without-banner {
        /*min-height: 300px;*/
    }
</style>