<template>

    <div class="card">
        <div class="card-content clear-padding">

                <aside class="menu">
                    <ul class="menu-list">
                        <li><a :class="{'is-active' : selected == 'account_user_settings' }" @click="SetCurrent('/account/user.settings', $event)"><img src="../../assets/user-settings-icon.png" align="left" hspace="15" width="16px"> {{ 'User Settings' | translate }}</a></li>
                        <li><a :class="{'is-active' : selected == 'account_secutiry' }" @click="SetCurrent('/account/security', $event)"><img src="../../assets/security-icon.png" align="left" hspace="15" width="16px"> {{ 'Security' | translate }}</a></li>
                        <li><a :class="{'is-active' : selected == 'account_finance' }" @click="SetCurrent('/account/finance', $event)"><img src="../../assets/finance-icon.png" align="left" hspace="15" width="16px"> {{ 'Finance' | translate }}</a></li>
                        <!--li><a :class="{'is-active' : selected == 'account_verification' }" @click="SetCurrent('/account/verification', $event)"><img src="../../assets/verification-icon.png" align="left" hspace="15" width="16px"> {{ 'Verification' | translate }}</a></li>
                        <li><a :class="{'is-active' : selected == 'account_referral_programm' }" @click="SetCurrent('/account/referral.programm', $event)"><img src="../../assets/referral-icon.png" align="left" hspace="15" width="16px"> {{ 'Referral Programm' | translate }}</a></li>
                        <li><a :class="{'is-active' : selected == 'account_api' }" @click="SetCurrent('/account/api', $event)"><img src="../../assets/api-icon.png" align="left" hspace="15" width="16px"> {{ 'API' | translate }}</a></li>
                        <li><a :class="{'is-active' : selected == 'account_authorization_history' }" @click="SetCurrent('/account/authorization.history', $event)"><img src="../../assets/auth-history-icon.png" align="left" hspace="15" width="16px"> {{ 'Authorization History' | translate }}</a></li>
                        <li><a :class="{'is-active' : selected == 'account_general_settings' }" @click="SetCurrent('/account/general.settings', $event)"><img src="../../assets/general-settings-icon.png" align="left" hspace="15" width="16px"> {{ 'General Settings' | translate }}</a></li>
                        <li><a :class="{'is-active' : selected == 'account_notification' }" @click="SetCurrent('/account/notification', $event)"><img src="../../assets/notification-icon.png" align="left" hspace="15" width="16px"> {{ 'Notification' | translate }}</a></li-->
                    </ul>
                </aside>

        </div>
    </div>

</template>

<script>

    export default
    {
    	props: ["current"],

        data(){
    		return {
			    selected: this.$route.name
            };
        },

	    watch: {
		    '$route' (to, from) {
                this.selected = to.name;
		    }
	    },

        methods: {

	        SetCurrent(item, event){

		        if (event) event.preventDefault();
	        	this.$router.push(item);
            },

        },
    }

</script>

<style>

    .menu-list li
    {
        text-transform: uppercase !important;
        text-align: left !important;
    }
</style>