<template>

    <AccountTemplate>
        <div class="columns">
            <div class="column">
                <AccountListWidget></AccountListWidget>
            </div>
        </div>
    </AccountTemplate>

</template>

<script>

	import AccountTemplate from '@/containers/account/account';
	import AccountListWidget from '@/components/accounts/accounts.list';

	export default {

		components: { AccountTemplate, AccountListWidget },
	}

</script>