<template>

    <AccountTemplate>
        Referral Programm
    </AccountTemplate>

</template>

<script>

	import AccountTemplate from '@/containers/account/account';

	export default {

		components: { AccountTemplate, },
	}

</script>