<template>

    <AccountTemplate>
        <ConnectForm></ConnectForm>
    </AccountTemplate>

</template>

<script>

    import AccountTemplate from '@/containers/account/account';
	import ConnectForm from '@/components/user/Connect2fa'

	export default {

		components: { AccountTemplate, ConnectForm, },
	}

</script>