<template>

    <AccountTemplate>
        <UserSettings></UserSettings>
    </AccountTemplate>

</template>

<script>

	import AccountTemplate from '@/containers/account/account';
	import UserSettings from '@/components/user/UserSettings';

	export default {

		components: { AccountTemplate, UserSettings, },
	}

</script>