html, body {
    background-color: #F5F5F5;
    min-height: 100vh;
    font-weight: 300;
}

.table-backgound
{
    padding: 30px;
    border-radius: 2px;
    background: #fff;
    box-shadow: 4px 0 30px rgba(0,0,0,0.05);
}

.flex-centered-left
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.flex-centered-left > div
{
    margin-left: 15px;
}

.flex-centered-right
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.flex-centered-right > div
{
    margin-left: 15px;
}

.table-backgound-line
{
    padding: 20px;
    border-radius: 2px;
    background: #fff;
    box-shadow: 4px 0 30px rgba(0,0,0,0.05);

    font-size: 14px !important;
}

.itradebit-is-blue
{
    color: #1183e5;
}

.itradebit-is-teal
{
    color: #03c57c;
}

.full-height-without-banner
{
    min-height: calc(100vh - 270px);
}

.centered
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.number-circle {
    width: 30px;
    height: 30px;
    line-height: 27px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    border: 1px dotted #a2e249;
    color: #a2e249;
    margin-top: 5px;
}

.number-circle-current
{
    border: 1px solid #168af0;
    background-color: #168af0;
    color: #fff;
}

.number-circle-completed
{
    border: 1px dotted #d5f1b5;
    color: #d5f1b5;
}

.header-step-2fa
{
    display: flex;
    flex-direction: row;
}

.header-step-2fa-item
{
    flex-grow: 1;
    min-width: 110px;
}

.title-blue-small
{
    color: #1c95fe;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

.title-black-small
{
    color: #000;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

.header-step-2fa-counter-cel
{
    max-width: 60px;
}

.header-step-2fa-title
{
    flex-grow: 1;
    padding-top: 12px;
}

.button.is-link
{
    color: #fff;
    font-size: 13px;
    border-radius: 5px;
    background-color: #178AF1;
    min-width: 100px;
    font-size: 12px;
    height: 32px;
}

.rounded-input
{
    border-radius: 5px;
    color: #8A8A8A;
    font-size: 12px;
    font-weight: 400;
    background-color: #F5F5F5;
}

.rounded-input-outline
{
    border-radius: 5px;
    color: #8A8A8A;
    font-size: 12px;
    font-weight: 400;
}

.text-padding
{
    padding: 10px;
}

.clear-height
{
    height: auto !important;
}

.account-select-box
{
    min-width: 200px;
    min-height: 50px;
    text-align: left;
}

.text-description-gray
{
    padding: 10px;
    color: #8B8B8B;
    font-size: 11px;
}

.button.is-link:hover, .button.is-link.is-hovered
{
    color: #fff;
    text-decoration: none;
}

.card
{
    border-radius: 2px;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.1) !important;
}

.menu-list a
{
    font-size: 13px;
    padding: 1em;
    color: #100234;
    padding-left: 5px;
}

.block-small-title
{
    font-size: 13px;
    font-weight: 500;
}

.pointer {
    cursor: pointer;
}

.card-header-title
{
    font-size: 13px !important;
    font-weight: 500 !important;
    padding: 20px !important;
}

.menu-list a.is-active
{
    background-color: #eff8ff;
    color: #1c95fe;
    border-bottom: 3px solid #1c95fe;
}

.menu-list li
{
    border-bottom: 1px solid #e5e5e5;
}

.menu-list li:first-child a.is-active
{
    background-color: #EFF8FF;
    color: #477DAB;
    border-radius: 2px 2px 0px 0px;
}

.menu-list li:last-child a.is-active
{
    background-color: #EFF8FF;
    color: #477DAB;
    border-radius: 0px 0px 2px 2px;
}

.block-header
{

}

.clear-padding
{
    padding: 0px;
}

a{
    cursor: pointer;
}

input
{
    font-weight: 300 !important;
    font-size: 11pt !important;
}

.content a:hover
{
    text-decoration: underline;
}

.label
{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 11pt;
}

.card .card-content .media .media-content
{
    /*padding: 0 0 15px 0;*/
}

.title
{
    font-weight: 300;
    text-transform: uppercase;
}

.title-big
{
    font-weight: 300;
    text-transform: uppercase;

    font-size: 40px;
}

.coin-section
{
    padding: 40px;
    background-color: #f6f7fb;
}

.coin-title
{
    font-weight: 500;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    font-size: 21pt;
}

.coin-subtitle
{
    font-weight: 500;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    font-size: 16pt;
}

.coin-price-title
{
    font-weight: 800;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    font-size: 25pt;
}

.coin-price-title sup
{
    font-size: 20pt;
}

.is-bold
{
    font-weight: bold;
}

.title-middle
{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 14pt;
    margin: 5px;
    padding: 5px;
}

.primary-title
{
    padding: 25px 0px 25px 0px;
    margin: 25px 0px 25px 0px;
}

.small-margins
{
    margin: 10px;
    padding: 10px;
}

th, th a
{
    font-weight: 300;
    color: #b8b8b8 !important;
    text-transform: uppercase;
    font-size: 10.5pt;
}

.block-header-line
{
    height: 20px;
}

.invisible-input
{
    border: 0px;
    background: transparent;
    box-shadow: none;

    font-size: 10pt;
    text-transform: uppercase;
}

.invisible-input:focus
{
    border: 0px;
    background: transparent;
    box-shadow: none;
}

.selected-table-title
{
    color: #168af0 !important;
}

th, td
{
    vertical-align: middle !important;
}

.small-header-text
{
    font-size: 10pt;
    text-transform: uppercase;
}

.button {
    text-transform: uppercase;
    font-size: 11pt;
}

.button.is-white-base
{
    border: 1px dotted #eee;
    background-color: #fff;
    padding: 10px;
    color: #2f2f2f;
    height: auto;
    border-radius: 2px;
    min-width: 150px;
}

.button.is-white-base:hover
{
    border: 1px dotted #ccc;
    color: #000;
    height: auto;
}

.button.is-white-base:focus
{
    border: 1px dotted #ccc;
    color: #000;
    height: auto;
}

.table td
{
    font-size: 11pt;
}

.table th, .table th a {
    color: #b8b8b8;
}

#app{
    background-color: #fff;
}

hr{
    height: 0px;
    width:400px;
    border: 0.5px solid #212121;
}

.down_change
{
    color: #f35858 !important;
}

.up_change
{
    color: #00c47a !important;
}

.net
{
    color: #2f2f2f !important;
}

.coin-list-link
{
    text-transform: uppercase;
    text-decoration: none;
}

.coin-list-link:hover
{
    text-decoration: underline;
}

.echarts {
    width: 100%;
    height: 400px;
}

hr {
    background-color: #C3C3C3 !important;
    height: 1px;
}

.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    box-shadow: inset 0 30px 30px -12px rgba(0, 0, 0, 0.5);
}

.level-column
{
    flex-direction: column;
}

.left-level-fix
{
    justify-content: flex-start !important;
    align-items: flex-start !important;
}

.padding-small{
    padding: 5px;
}

.padding-small-top{
    padding-top: 5px;
}

.padding-small-bottom{
    padding-bottom: 5px;
}

.padding-small-left{
    padding-left: 5px;
}

.padding-small-right{
    padding-right: 5px;
}

.padding-medium{
    padding: 10px;
}

.padding-medium-top{
    padding-top: 10px;
}

.padding-medium-bottom{
    padding-bottom: 10px;
}

.padding-medium-left{
    padding-left: 10px;
}

.padding-medium-right{
    padding-right: 10px;
}