<template>

    <div @click="isActive=!isActive" :class="{'dropdown': true, 'is-active': isActive, 'is-up': isUp, 'is-right' : isRight, 'is-down': isDown, 'is-left' : isLeft}">

        <div class="dropdown-trigger">
            <button class="button dotted-button" aria-haspopup="true"
                    aria-controls="dropdown-menu3">
                                                  <span class="icon is-small">
                                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                                  </span>
                <span>{{currentLanguage.title}}</span>
                <img :src="icon" width="32">
            </button>
        </div>

        <div class="dropdown-menu" id="dropdown-menu3" style="min-width: 150px !important;" role="menu">
            <div class="dropdown-content has-text-right">
                <a @click="ChangeLanguage(row.locale, $event)" class="dropdown-item" style="padding-right: 5px;" v-for="row in otherLanguages"
                   :key="row.locale">
                    {{row.title}}&nbsp;&nbsp;&nbsp;<img :src="row.src" height="25" align="absmiddle">
                </a>
            </div>
        </div>
    </div>

</template>

<script>

	import * as types from '@/stores/modules/user/types';

	export default {
		name: 'ChangeLanguageWidget',

        props: {
			isUp: {
				type: Boolean,
                default: false,
            },
	        isDown: {
		        type: Boolean,
		        default: false,
	        },
	        isLeft: {
		        type: Boolean,
		        default: false,
	        },
	        isRight: {
		        type: Boolean,
		        default: false,
	        },
        },

		data () {
			return {
				isActive: false,
				languages: [
					{ title: 'ENG', locale: 'en', src: require('@/assets/lang-en-small.png') },
					{ title: 'RUS', locale: 'ru', src: require('@/assets/lang-ru-small.png') },
				],
				currentLang: 0,
			};
		},

		computed: {

			icon(){
				return require('@/assets/lang-' + this.currentLanguage.locale + '.png')
            },

			otherLanguages () {

				let newLanguages = this.languages.slice ();
				const index = this.GetCurrentLanguageIndex();
				newLanguages.splice (index, 1);

				return newLanguages;

			},

			currentLanguage () {
                const index = this.GetCurrentLanguageIndex();
                return this.languages[index];
			},

			isUserAuthenticated () {
				return this.$store.getters[ "user/isUserAuthenticated" ];
			},
		},

        created(){

	        let loc = this.$i18n.locale ();
			let locale = this.$cookie.get('lang');

			if(locale != undefined && locale != null && locale != "")
			{
				this.ChangeLanguage(locale);
            }
        },

		methods: {

        	GetCurrentLanguageIndex(){
		        let loc = this.$i18n.locale ();
		        return this.languages.findIndex(lang => lang.locale == loc);
            },

			ChangeLanguage ( locale , event) {

				if (event) event.preventDefault();

				if(event && this.isUserAuthenticated == true)
				{
					this.$store.dispatch ("user/" + types.CHANGE_LANG, { lang: locale });
                }

				var aYearFromNow = new Date();
				aYearFromNow.setFullYear(aYearFromNow.getFullYear() + 1);

				this.$cookie.set ('lang', locale, {
					expires: aYearFromNow.toGMTString (),
					domain: document.domain
				});

				this.$i18n.set (locale);

			},

		},
	}

</script>


<style>
    .dropdown-menu
    {
        min-with: 40px !important;
        padding: 4px;
    }
</style>