<template>

    <div class="columns has-text-left">
        <div class="column has-text-left">
            <div :class="{'dropdown': true, 'is-active': isOpen}">
                <div class="dropdown-trigger">
                    <button class="button account-select-box" aria-haspopup="true" @click="isOpen=!isOpen" aria-controls="dropdown-menu2">
                        <div class="columns">
                            <div class="column">
                                <b>№{{getActiveAccount.id}}</b><br/>
                                <small>{{getActiveAccount.label}}</small>
                            </div>
                            <div class="column has-text-right">
                                <b>{{getActiveAccount.usd_balance}}</b> USD<br>
                                <b>{{getActiveAccount.btc_balance}}</b> BTC
                            </div>
                        </div>
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                    <div class="dropdown-content">
                        <div class="dropdown-item" v-if="getAccountsWithoutActive.length > 0" v-for="row in getAccountsWithoutActive" :key="row.id">

                            <div class="columns">
                                <div class="column">
                                    <b>№{{row.id}}</b><br/>
                                    <small>{{row.label}}</small>
                                </div>
                                <div class="column has-text-right">
                                    <b>{{row.usd_balance}}</b> USD<br>
                                    <b>{{row.btc_balance}}</b> BTC
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-item" v-else>
                            ---
                        </div>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                            + Create New Account
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>

	import *  as AccountsActions from '@/stores/modules/accounts/action.types';

	export default {
		name: "AccountWidget",

		data()
		{
			return {
				showAllAccounts: false,
                isOpen: false,
			};
		},

		computed: {

			getActiveAccount(){
				return this.$store.getters["accounts/getActiveAccount"];
			},

			getActiveAccount(){
				return this.$store.getters["accounts/getAccountById"];
			},

			getAccountsWithoutActive(){
				return this.$store.getters["accounts/getAccountsWithoutActive"];
			},
		},

		methods: {

			SelectNewAccount( id )
			{
				this.showAllAccounts = false;
				this.$store.dispatch ("accounts/" + AccountsActions.ACCOUNTS_SELECT_ACTIVE, { account: id });
			}
		},
	}

</script>

<style scoped>
    .pointer {
        cursor: pointer;
    }

    .centered {
        text-align: center;
    }
</style>