<template>
    <div class="transaction-dep">
        <div class="columns transaction-dep-header">
            <div class="column block-small-title flex-centered-left">
                DEPOSIT RECORDS
            </div>
        </div>
        <div class="columns">
            <div class="column has-text-center block-header-line">
                <img src="../../assets/block-header-line.png">
            </div>
        </div>
    <div class="table-backgound" style="padding: 0">

        <table class="table is-hoverable is-fullwidth is-striped">
            <thead>
            <tr>

                <th><a :class="{'selected-table-title': sortBy == 'deposit_id'}" @click.prevent="sort('deposit_id', $event)" href="#" v-html="$t('Deposit Id')"></a>&nbsp;<span class="icon"><i :class="sortArrow('deposit_id')"></i></span></th>
                <th><a :class="{'selected-table-title': sortBy == 'time'}" @click.prevent="sort('time', $event)" href="#" v-html="$t('Time')"></a>&nbsp;<span class="icon"><i :class="sortArrow('time')"></i></span></th>
                <th><a :class="{'selected-table-title': sortBy == 'amount'}" @click.prevent="sort('amount', $event)" href="#" v-html="$t('Amount')"></a>&nbsp;<span class="icon"><i :class="sortArrow('amount')"></i></span></th>
                <th v-html="$t('Blockchain Record')"></th>
                <th><a :class="{'selected-table-title': sortBy == 'status'}" @click.prevent="sort('status', $event)" href="#" v-html="$t('Status')"></a>&nbsp;<span class="icon"><i :class="sortArrow('status')"></i></span></th>
                <th v-html="$t('Remark')"></th>


            </tr>
            </thead>

            <tbody>
            <tr class="observe-item-row" v-for="tr in transactions">

                <td >{{tr.id}}</td>
                <td>{{tr.created_dt}}</td>
                <td>{{tr.amount}}</td>
                <td><a href="">View transaction</a></td>
                <td>{{tr.status}}</td>
                <td>--</td>


            </tr>
            </tbody>

        </table>
    </div>
    </div>
</template>

<script>

    import *  as AccountsActions from '@/stores/modules/accounts/action.types';
    import *  as AccountsMutations from '@/stores/modules/accounts/mutation.types';

    export default {
        name: 'depositRecords',

        data() {
            return {
                sortOrder: "desc",
                latestSort: "",
                sortBy: "deposit_id",

            }
        },

        mounted() {
                this.$store.dispatch("accounts/"+AccountsActions.ACCOUNTS_TRANSACTIONS);
        },
        computed: {
            getTransitionsAll() {
                return this.$store.getters["accounts/getDeposits"]
            },
            transactions() {
                let data = this.getTransitionsAll;
                let Sort = (a, b) => {
                    if (a[this.sortBy] > b[this.sortBy]) {
                        return 1;
                    }
                    if (a[this.sortBy] < b[this.sortBy]) {
                        return -1;
                    }

                    return 0;
                };
                return (this.sortOrder == "asc") ? data.sort(Sort) : data.sort(Sort).reverse();
            }
        },
        methods: {
            sort( id )
            {
                this.latestSort = this.sortOrder;
                if ( this.sortBy == id ) {
                    if ( this.sortOrder == "asc" )
                        this.sortOrder = "desc";
                    else
                        this.sortOrder = "asc";
                } else {
                    this.sortBy = id;
                    this.sortOrder = "desc";
                }
            },
            sortArrow( id )
            {
                if ( this.sortBy == id && this.sortOrder == "asc" ) {
                    return "↑";
                }

                if ( this.sortBy == id && this.sortOrder == "desc" ) {
                    return "↓";
                }

                return "";
            },
        }
    }

</script>

<style>
    .transaction-dep {
        margin-top: 40px;
    }
    .table-backgound {
        box-shadow: none;
    }
</style>