<template>

<div class="card">
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <div class="columns block-small-title" style="margin-bottom: 0px;">
                    <div class="column is-uppercase is-3">
                        <p>{{ 'Deposit' | translate }} {{coin.code.toUpperCase()}}</p>
                    </div>
                    <div class="column is-uppercase has-text-centered">
                        <p>{{ 'Available' | translate}} {{coin.code.toUpperCase()}}: {{AccountInfo.active_balance}}</p>
                    </div>
                    <div class="column is-uppercase has-text-centered">
                        <p>{{ 'Frozen' | translate}} {{coin.code.toUpperCase()}}: {{AccountInfo.frozen_balance}}</p>
                    </div>
                </div>

                <img src="../../assets/block-header-line.png">
            </div>
        </div>

        <div>
            <div class="content">

                <div v-if="isWaiting" class="column centered" style="min-height: 200px;">
                    <ClipLoader :loading="isWaiting" color="#666666"></ClipLoader>
                </div>

                <div v-if="!isWaiting && (AccountInfo.depositAddress != 'none' && AccountInfo.depositAddress != '')" class="columns">
                    <div class="column is-2">
                        <img width="150" height="150" v-if="qrCodeSrc!=''" :src="qrCodeSrc">
                    </div>
                    <div class="column padding-medium-top">
                        <p class="is-uppercase">{{ 'Address' | translate }}</p>
                        <p v-show="AccountInfo.depositAddress != 'none'" class="address-blue">{{AccountInfo.depositAddress}}</p>
                        <p v-show="AccountInfo.depositAddress == 'none'"><a @click="GetNewWallet">{{ 'Get wallet' | translate }}</a></p>
                    </div>
                </div>

                <div v-if="!isWaiting && (AccountInfo.depositAddress == 'none' || AccountInfo.depositAddress == '')" class="column centered" style="min-height: 200px;">
                    <p><a :class="{button: true, 'is-link': true, 'is-loading': isProcessing}" @click="GetNewWallet">{{ 'Get wallet' | translate }}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

</template>

<script>

    import *  as AccountsActions from '@/stores/modules/accounts/action.types';
    import *  as AccountsMutations from '@/stores/modules/accounts/mutation.types';
    import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
    
    import QRCode from 'qrcode-generator';

	export default {

        props: [ 'colspan', 'coin' ],
        
        components: {
            ClipLoader
        },

		data()
		{
			return {
				isShow: false,

				inputAddress: "",
				inputAmount: this.coin.active_balance,
                comission: 0,
                qrCodeSrc: "",
                isWaiting: false,
                isProcessing: false,

				formError: "",
                hasError: false,
                storeMutationSubscriber: null,
			};
        },        

		computed: {

            AccountInfo(){
                return this.$store.getters["accounts/getAccoutInfo"](this.coin.code);
            },

			getActiveAccount(){
				return this.$store.getters["accounts/getActiveAccount"];
			},
        },
        
        mounted(){
             this.storeMutationSubscriber =
		        this.$store.subscribe (( mutation, state ) => {

	        	    let status;
			        switch ( mutation.type ) {
                        case "accounts/" + AccountsMutations.WALLET_RECEIVED_SUCCESS:
                            this.isWaiting = false;
                            break;
                        case "accounts/" + AccountsMutations.WALLET_RECEIVED_FAIL:
                            this.isWaiting = false;
                            break;
                        case "accounts/" + AccountsMutations.WALLET_CREATED_SUCCESS:
                            this.isProcessing = false;
                            break;
                        case "accounts/" + AccountsMutations.WALLET_CREATED_FAIL:
                            this.isProcessing = false;
                            break;                            
                    }
                });
        },

        beforeDestroy(){
            if(this.storeMutationSubscriber != null)
            {
                this.storeMutationSubscriber();
                this.storeMutationSubscriber = null;                
            }                
        },

		methods: {

            GetNewWallet(){
                this.isProcessing = true;
                this.$store.dispatch("accounts/"+AccountsActions.CREATE_WALLET, { code: this.coin.code.toLowerCase()});
            },

            OnShow(){

                let qr = QRCode(4, 'L');
                qr.addData(this.coin.code);
                qr.make();
                this.qrCodeSrc = qr.createDataURL(4, 0);

                if(this.AccountInfo.depositAddress == "")
                {
                    this.isWaiting = true;
                    this.$store.dispatch("accounts/"+AccountsActions.GET_WALLET, { code: this.coin.code.toLowerCase()});
                }
            },

            OnHide(){
                
            },

			Add100()
			{
				this.$store.dispatch ("accounts/" + AccountsActions.ACCOUNTS_ACTION_DEPOSIT,
                    {
                        amount: 100,
                        account_id: this.getActiveAccount.id,
                        token: this.coin.code
                    });
			},

			Add1000()
			{
				this.$store.dispatch ("accounts/" + AccountsActions.ACCOUNTS_ACTION_DEPOSIT,
					{
						amount: 1000,
						account_id: this.getActiveAccount.id,
						token: this.coin.code
					});
			},

			Toggle()
			{
				this.isShow = !this.isShow;
			},

			Hide()
			{
				this.isShow = false;
			},

			Show()
			{
				this.isShow = true;
			},
		},
	}

</script>

<style>
.address-blue{
    color: #1c95fe;
    font-size: 16px;
}
</style>
