<template>

<div class="card">
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <div class="columns block-small-title" style="margin-bottom: 0px;">
                    <div class="column is-uppercase is-3">
                        <p>{{ 'Withdrawal' | translate }} {{coin.code.toUpperCase()}}</p>
                    </div>
                    <div class="column is-uppercase has-text-centered">
                        <p>{{ 'Available' | translate}} {{coin.code.toUpperCase()}}: {{AccountInfo.active_balance}}</p>
                    </div>
                    <div class="column is-uppercase has-text-centered">
                        <p>{{ 'Frozen' | translate}} {{coin.code.toUpperCase()}}: {{AccountInfo.frozen_balance}}</p>
                    </div>
                </div>

                <img src="../../assets/block-header-line.png">
            </div>
        </div>

        <div>
            <div class="content">

                <div class="column centered" style="min-height: 200px;">
                    <p>Not Implemented</p>
                </div>
            </div>
        </div>
    </div>
</div>

</template>

<script>

	import { createNamespacedHelpers } from 'vuex'
	import *  as AccountsActions from '@/stores/modules/accounts/action.types';

	const { mapGetters, mapActions } = createNamespacedHelpers( 'accounts' );

	export default {
		name: 'AccountWithdraw',
		props: [ 'colspan', 'coin' ],

		data()
		{
			return {
				isShow: false,

				formError: "",
				hasError: false,

				withdrawFormValidator: {
					amount: [{
						type: 'number',
						required: true,
						trigger: 'blur',
					}],
					address: [{
						type: 'string',
						required: true,
						trigger: 'blur'
					}]
				},

				withdrawForm: {
					amount: this.coin.active_balance,
					address: ""
				},
			};
		},

		computed: {

			AccountInfo(){
                return this.$store.getters["accounts/getAccoutInfo"](this.coin.code);
            },

			getActiveAccount(){
				return this.$store.getters["accounts/getActiveAccount"];
			},
		},

		methods: {

			OnShow(){
            },

            OnHide(){
                
            },

			Confirm()
			{
				this.hasError = false;

				let amount = parseFloat( this.withdrawForm.amount );

				if(this.withdrawForm.address.trim() == "")
				{
					this.formError = "Address is Empty!";
					this.hasError = true;

					return;
                }

				this.$store.dispatch ("accounts/" + AccountsActions.ACCOUNTS_ACTION_WITHDRAW,
					{
					amount: amount,
					account_id: this.getActiveAccount.id,
					address: this.withdrawForm.address,
					token: this.coin.code
				} );
			},

			Toggle()
			{
				this.isShow = !this.isShow;

				if(this.isShow == false){
					this.hasError = false;
                }
			},

			Hide()
			{
				this.isShow = false;
				this.hasError = false;
			},

			Show()
			{
				this.isShow = true;
			},
		},
	}

</script>