<template>

    <section class="section">
        <div class="container">
            <CoinMarket></CoinMarket>
        </div>
    </section>

</template>

<script>

	import CoinMarket from '@/components/coin-market/market'

	export default {
		name: 'Home',

        components: {
	        CoinMarket
        },

		data()
		{
			return {}
		}
	}
</script>


<style scoped>

</style>
