<template>

    <div class="columns">
        <div class="column">

            <div class="card" v-show="!isInitialized">
                <div class="card-content">
                    <div class="content">
                        <div class="column centered" style="min-height: 320px;">
                            <ClipLoader :loading="isProcessing" color="#666666"></ClipLoader>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card" v-show="isInitialized">
                <div class="card-content" v-show="isEnabled==false">
                    <div class="media">
                        <div class="media-content">
                            <div class="columns block-small-title" style="margin-bottom: 0px;">
                                <div class="column">
                                    <div class="header-step-2fa">
                                        <div class="header-step-2fa-title" v-html="$t('Google 2-Step')"></div>
                                        <div class="columns header-step-2fa-item">
                                            <div class="column header-step-2fa-counter-cel">
                                                <div :class="{'number-circle': true, 'number-circle-completed': step > 1, 'number-circle-current': step == 1}">1</div>
                                            </div>
                                            <div class="column" v-html="$t('Download Application')"></div>
                                        </div>

                                        <div class="columns header-step-2fa-item">
                                            <div class="column header-step-2fa-counter-cel">
                                                <div :class="{'number-circle': true, 'number-circle-completed': step > 2, 'number-circle-current': step == 2}">2</div>
                                            </div>
                                            <div class="column" v-html="$t('Scan QR-Code')"></div>
                                        </div>

                                        <div class="columns header-step-2fa-item">
                                            <div class="column header-step-2fa-counter-cel">
                                                <div :class="{'number-circle': true, 'number-circle-completed': step > 3, 'number-circle-current': step == 3}">3</div>
                                            </div>
                                            <div class="column" v-html="$t('Backup key [TITLE]')"></div>
                                        </div>

                                        <div class="columns header-step-2fa-item">
                                            <div class="column header-step-2fa-counter-cel">
                                                <div :class="{'number-circle': true, 'number-circle-current': step == 4}">4</div>
                                            </div>
                                            <div class="column" v-html="$t('Enable Authentication')"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <img src="../../assets/block-header-line.png">
                        </div>
                    </div>

                    <div>
                        <div class="content">

                            <div class="columns">

                                <div class="column centered" style="min-height: 320px;" v-if="step==1 && isInitialized == true">

                                    <div class="columns">
                                        <div class="column is-offset-1 is-10">
                                            <div class="columns">
                                                <div class="column is-12 has-text-centered title-blue-small" v-html="$t('Go to the app store to search and install Google Authenticator')"></div>
                                            </div>

                                            <br/>

                                            <div class="columns">
                                                <div class="column is-12 has-text-centered">
                                                    <a target="_blank" href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8"><img src="../../assets/ios-icon.png" style="max-height: 45px;"></a>
                                                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en"><img src="../../assets/google-icon.png" style="max-height: 45px;"></a>
                                                </div>
                                            </div>

                                            <br/>

                                            <div class="columns">
                                                <div class="column has-text-centered is-12">
                                                    <a :class="{button: true, 'is-link': true, 'is-loading': isProcessing}" @click="ConnectTo2FA">{{ 'Next' | translate}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="column centered" style="min-height: 320px;" v-else-if="step==2">

                                    <div class="columns">
                                        <div class="column is-offset-1 is-10">
                                            <div class="columns">
                                                <div class="column is-12 has-text-left title-blue-small" style="padding-left: 30px;" v-html="$t('Scan this QR-Code in Google Authentication')"></div>
                                            </div>

                                            <div class="columns">
                                                <div class="column has-text-left is-5">
                                                    <img :src="qrCodeUrl"/>
                                                </div>
                                                <div class="column has-text-centered" style="padding-top: 27px;">
                                                    <input class="input rounded-input-outline" type="text" v-model="secretCode" readonly>

                                                    <div class="text-description-gray" v-html="$t('If you have any problems with scanning QR-code enter this code in APP')"></div>
                                                    <br/>

                                                    <div class="field is-grouped is-grouped-centered">
                                                        <p class="control">
                                                            <a @click="step=1" class="button is-link">{{ 'Back' | translate }}</a>
                                                        </p>
                                                        <p class="control">
                                                            <a :class="{button: true, 'is-link': true, 'is-loading': isProcessing}" @click="step=3">{{ 'Next' | translate }}</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="column centered" style="min-height: 320px;" v-else-if="step==3">
                                    <div class="columns">
                                        <div class="column is-offset-1 is-10">

                                            <p class="title-blue-small">{{ 'Save this kay on Paper' | translate }}</p>

                                            <input class="input rounded-input-outline" type="text" v-model="secretCode" readonly>

                                            <p class="text-description-gray">
                                                {{ 'This key will allow you to recover your Google Authentication in case of phone loss' | translate }}
                                            </p>
                                            <br/>

                                            <div class="field is-grouped is-grouped-centered">
                                                <p class="control">
                                                    <a @click="step=2" class="button is-link">{{ 'Back' | translate }}</a>
                                                </p>
                                                <p class="control">
                                                    <a class="button is-link" @click="step=4">{{ 'Next' | translate }}</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column centered is-offset-1 is-10" style="min-height: 320px;" v-else-if="step==4">
                                    <div class="columns">
                                        <div class="column">

                                            <div v-show="isShowNotification" class="notification is-danger">
                                                {{notificationMessage}}
                                            </div>

                                            <div class="field">
                                                <div class="control">
                                                    <input class="input rounded-input" :disabled="isProcessing" type="text" v-model="ga_key" :placeholder="$t('Backup key')" v-focus>
                                                </div>
                                            </div>

                                            <div class="field">
                                                <div class="control">
                                                    <input class="input rounded-input" :disabled="isProcessing" type="password" v-model="password" :placeholder="$t('Your Password')">
                                                </div>
                                            </div>

                                            <div class="field">
                                                <div class="control">
                                                    <input class="input rounded-input" :disabled="isProcessing" type="text" v-model="ga_code" :placeholder="$t('Google Authentication Code')">
                                                </div>
                                            </div>

                                            <br/>

                                            <div class="field is-grouped is-grouped-centered">
                                                <p class="control">
                                                    <a @click="step=3" class="button is-link">{{ 'Back' | translate }}</a>
                                                </p>
                                                <p class="control">
                                                    <a @click="Enable2FA" :class="{button: true, 'is-link': true, 'is-loading': isProcessing}">{{ 'Enable' | translate }}</a>
                                                </p>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card-content" v-show="isEnabled==true">
                    <div class="media">
                        <div class="media-content">
                            <div class="columns block-small-title">
                                <div class="column">
                                    {{ 'Disable Google 2-Step' | translate }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="content">

                            <div class="columns">
                                <div class="column centered is-offset-1 is-10" style="min-height: 320px;">
                                    <div class="columns" style="min-width: 320px;">
                                        <div class="column">

                                            <p class="title-black-small">{{ 'Disable Authentication' | translate }}</p>

                                            <div v-show="isShowNotification" class="notification is-danger">
                                                {{notificationMessage}}
                                            </div>

                                            <div class="field">
                                                <div class="control">
                                                    <input class="input rounded-input" :disabled="isProcessing" type="password" v-model="password" :placeholder="$t('Your Password')">
                                                </div>
                                            </div>

                                            <div class="field">
                                                <div class="control">
                                                    <input class="input rounded-input" :disabled="isProcessing" type="text" v-model="ga_code" :placeholder="$t('Google Authentication Code')">
                                                </div>
                                            </div>

                                            <br/>

                                            <div class="field is-grouped is-grouped-centered">
                                                <p class="control">
                                                    <a @click="Disable2FA" :class="{button: true, 'is-link': true, 'is-loading': isProcessing}">{{ 'Disable' | translate }}</a>
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</template>

<script>

	import * as types from '@/stores/modules/user/types';
	import * as mutation_types from '@/stores/modules/user/mutation_types';

	import ClipLoader from 'vue-spinner/src/ClipLoader.vue'

    export default {

		components: { ClipLoader },

    	data(){
    		return {
    			step: 1,
			    code: "",
			    backup_key: "",
			    ga_key: "",
			    ga_code: "",
			    password: "",

			    storeMutationSubscriber: null,
                isProcessing: false,

                isShowNotification: false,
                notificationMessage: "",
			    isInitialized: false,
            }
        },

        computed: {
    		qrCodeUrl(){
			    return this.$store.getters["user/connection2faQRCodeUrl"];
            },

	        secretCode(){
		        return this.$store.getters["user/connection2faCode"];
	        },

	        isEnabled(){
		        return this.$store.getters["user/isEnabledConnection2faCode"];
	        },
        },

        mounted(){
	        this.storeMutationSubscriber =
		        this.$store.subscribe (( mutation, state ) => {

	        	    let status;
			        switch ( mutation.type ) {
				        case "user/" + mutation_types.CREATE_SECRET_2FA_SUCCESS:

					        this.isProcessing = false;
					        this.step = 2;
                            this.ga_code = "";
					        this.ga_key = "";
					        this.password = "";


					        break;
				        case "user/" + mutation_types.CREATE_SECRET_2FA_FAIL:

				        	this.isProcessing = false;
				        	console.log(mutation.payload);

					        break;

				        case "user/" + mutation_types.DISABLE_2FA_SUCCESS:

					        this.isProcessing = false;
					        this.isShowNotification = false;
					        this.ga_code = "";
					        this.ga_key = "";
					        this.password = "";
					        this.backup_key = "";

					        this.step = 1;

					        break;
				        case "user/" + mutation_types.DISABLE_2FA_FAIL:

					        this.isProcessing = false;
					        console.log(mutation.payload);

					        status = mutation.payload.error.status;
					        switch(status)
					        {
						        case 500:
							        this.notificationMessage = this.$t ('Something went wrong') + ' [500]';
							        break
						        case 403:
							        this.notificationMessage = this.$t ('Wrong Google Authentication code');
							        break
						        case 422:

							        if(mutation.payload.error.data.code == 2100)
							        {
								        this.notificationMessage = this.$t ("error_2100_"+mutation.payload.error.data.meta[0].code);
							        } else {
								        this.notificationMessage = this.$t ("error_" + mutation.payload.error.data.code);
							        }

							        break;
						        default:
							        this.notificationMessage = this.$t ('Something went wrong') + ' ['+status+']';
							        break;
					        }

					        this.isShowNotification = true;
					        setTimeout (() => this.isShowNotification = false, 5000);

					        break;

				        case "user/" + mutation_types.ENABLE_2FA_SUCCESS:

					        this.isProcessing = false;
					        this.isShowNotification = false;
					        this.ga_code = "";
					        this.ga_key = "";
					        this.password = "";

					        break;
				        case "user/" + mutation_types.ENABLE_2FA_FAIL:

					        this.isProcessing = false;

					        status = mutation.payload.error.status;
					        switch(status)
					        {
						        case 500:
							        this.notificationMessage = this.$t ('Something went wrong') + '[500]';
							        break
						        case 403:
						        case 401:
							        this.notificationMessage = this.$t ('Wrong Google Authentication code');
							        break;
						        case 422:

							        if(mutation.payload.error.data.code == 2100)
							        {
								        this.notificationMessage = this.$t ("error_2100_"+mutation.payload.error.data.meta[0].code);
							        } else {
								        this.notificationMessage = this.$t ("error_" + mutation.payload.error.data.code);
							        }

							        break;
						        default:
							        this.notificationMessage = this.$t ('Something went wrong')+ ' ['+status+']';
							        break;
					        }

					        this.isShowNotification = true;
					        setTimeout (() => this.isShowNotification = false, 5000);

					        break;

				        case "user/" + mutation_types.CHECK_2FA_SUCCESS:

					        this.isProcessing = false;
					        this.isShowNotification = false;
					        this.isInitialized = true;

					        this.ga_code = "";
					        this.ga_key = "";
					        this.password = "";

					        break;
				        case "user/" + mutation_types.CHECK_2FA_FAIL:

					        this.isProcessing = false;
					        this.isInitialized = false;
					        console.log(mutation.payload);

					        break;
			        }
                });

	        this.isProcessing = true;
	        console.log("CHECK 2FA");
	        this.$store.dispatch ("user/" + types.CHECK_2FA);
        },

	    beforeDestroy () {

        	if(this.storeMutationSubscriber != null)
        	{
		        this.storeMutationSubscriber ();
		        this.storeMutationSubscriber = null;
            }
	    },

        methods: {

	        ConnectTo2FA(){

	        	if(this.secretCode != ""){ this.step = 2; return; }

		        this.CreateSecret();
            },

    		CreateSecret(){
			    this.isProcessing = true;
    			this.$store.dispatch ("user/" + types.CREATE_SECURE_KEY_2FA);
            },

	        Disable2FA(){
		        if(this.ga_code == "")
		        {
			        this.isShowNotification = true;
			        this.notificationMessage = this.$t('Google Authentication Code')+' '+this.$t('is required');
			        setTimeout(() => { this.isShowNotification = false; }, 5000);

			        return;
		        }

		        if(this.password == "")
		        {
			        this.isShowNotification = true;
			        this.notificationMessage = this.$t('Password is required');
			        setTimeout(() => { this.isShowNotification = false; }, 5000);

			        return;
		        }

		        this.isProcessing = true;
		        this.$store.dispatch ("user/" + types.DISABLE_2FA, { code: this.ga_code, password: this.password});
            },

	        Enable2FA(){

    			if(this.ga_code == "")
    			{
				    this.isShowNotification = true;
                    this.notificationMessage = this.$t('Google Authentication Code')+' '+this.$t('is required');
                    setTimeout(() => { this.isShowNotification = false; }, 5000);

                    return;
                }

		        if(this.ga_key == "")
		        {
			        this.isShowNotification = true;
			        this.notificationMessage = this.$t('Backup key')+' '+this.$t('is required');
			        setTimeout(() => { this.isShowNotification = false; }, 5000);

			        return;
		        }

		        if(this.password == "")
		        {
			        this.isShowNotification = true;
			        this.notificationMessage = this.$t('Password is required');
			        setTimeout(() => { this.isShowNotification = false; }, 5000);

			        return;
		        }

		        this.isProcessing = true;
		        this.$store.dispatch ("user/" + types.ENABLE_2FA, { key: this.ga_key, code: this.ga_code, password: this.password});
	        },
        },

    }

</script>