<template>

  <div class="columns">
    <div class="column is-one-third is-offset-one-third">

      <div v-if="!isUserAuthenticated">

        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">{{ '2FA' | translate }}</p>
              </div>
            </div>

            <div class="content">

              <div v-show="isShowNotification" class="notification is-danger">
                {{translatedMessage}}
              </div>

              <div class="field">
                <label class="label">{{ 'E-mail' | translate }}</label>
                <div class="control">
                  <input ref="focusField" :disabled="isProcessing" v-model="code" class="input"
                         @keyup.enter="OnFormEnter" type="text" focus>
                </div>
              </div>
            </div>
          </div>
        </div>

        <br/>
        <div class="field is-grouped">
          <div class="control">
            <button @click="Confirm" :loading="isProcessing" class="button is-small is-white-base">
              {{ 'Confirm' | translate }}
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>

</template>

<script>

  import * as types from '@/stores/modules/user/types';
  import * as mutation_types from '@/stores/modules/user/mutation_types';
  import { mapMutations, mapGetters, mapActions } from 'vuex';

  export default
  {
    name: 'fa2',

    data (){
      return {
        code: "",

        message: "",

        isProcessing: false,
        isFormSuccessfulSend: false,
        storeMutationSubscriber: null,
      }
    },

    computed: {

	    isUserAuthenticated(){
		    return this.$store.getters["user/isUserAuthenticated"];
	    },

        translatedMessage(){
          return this.$t(this.message);
        },

        showForm(){

          if(this.isUserAuthenticated == true) return false;
          if(this.isFormSuccessfulSend == true) return false;

          return true;
        },
    },

    mounted(){

      this.storeMutationSubscriber =
        this.$store.subscribe((mutation, state) => {

          switch(mutation.type)
          {
            case "user/"+mutation_types.M_2FA_CONFIRM_SUCCESS:

              this.message = "Code confirmed successfully";

              this.isProcessing = false;
              this.isFormSuccessfulSend = true;

              this.email = "";

              break;

            case "user/"+mutation_types.M_2FA_CONFIRM_FAIL:

              this.isProcessing = false;
              this.isFormSuccessfulSend = false;

              this.$Message.error(this.$t(mutation.payload.message));

              break;
          }
        });

    },

    beforeDestroy(){
      this.storeMutationSubscriber();
      this.storeMutationSubscriber = null;
    },

    methods: {

      Confirm(){

        var constraints = {

          code: {
            presence: {
              message: this.$t( 'Code is required' ),
              allowEmpty: false,
            },
          }
        };

        this.$Validator({ code: this.code }, constraints)
          .then(() => {

            this.isProcessing = true;
            this.$store.dispatch("user/"+types.A_2FA_CONFIRM, { code: this.code });

          }).catch((errors) => {

          if(errors  && errors != undefined && errors != null){
            this.$Message.error(errors[Object.keys(errors)[0]][0]);
          } else {
            this.$Message.error(this.$t('Something went wrong'));
          }
        });

      },
    },
  }

</script>
