<template>

    <div class="columns">
        <div class="column has-text-centered">

            <div class="content has-text-centered" v-show="state=='init'">
                {{ 'Dont receive e-mail?' | translate }} <a @click="ShowForm">{{ 'Resend' | translate }}</a>
            </div>

            <div class="columns" v-show="state=='form'">
                <div class="column has-text-centered">
                    <div class="card">
                        <div class="card-content">


                            <div class="content">
                                <div v-show="isShowNotification" v-html="error" class="notification is-danger"></div>

                                <div class="field has-addons">
                                    <div class="control is-expanded">
                                        <input :disabled="isProcessing" v-model="email" @on-enter="OnFormEnter" :autofocus="true" class="input" type="text" :placeholder="$t('E-mail Form Label')">
                                    </div>
                                    <div class="control">
                                        <a :class="{'button': true, 'is-info' : true, 'is-loading': isProcessing}" @click="OnFormEnter">
                                            {{ 'Send' | translate }}
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content has-text-centered" v-show="state=='complete'">
                {{ 'We sent you a new link to activate account! Check your Email' | translate }}
            </div>

        </div>
    </div>

</template>

<script>

	import * as types from '@/stores/modules/user/types';
	import * as mutation_types from '@/stores/modules/user/mutation_types';

	import { mapMutations, mapGetters, mapActions } from 'vuex';

    export default
    {
    	name: "ResendActivation",

        props: {
	        initEmail: {
		        type: String,
		        default: ""
            }
        },

    	data(){
    		return {

    			state: "init", // init, form, complete,
			    isProcessing: false,

			    email: this.initEmail,

			    storeMutationSubscriber: null,
			    isShowNotification: false,
                error: "",

            };
        },

	    mounted(){
		    this.storeMutationSubscriber =
			    this.$store.subscribe((mutation, state) => {

				    switch(mutation.type)
				    {
					    case "user/"+mutation_types.M_RESEND_CONFIRMATION_SUCCESS:

					    	this.state = 'complete';

						    this.isProcessing = false;
						    this.email = "";

						    break;

					    case "user/"+mutation_types.M_RESEND_CONFIRMATION_FAIL:

						    this.isProcessing = false;
						    this.isShowNotification = true;

						    if(mutation.payload.error.status == 500)
						    {
						    	this.error = this.$t('Your email already activated');
                            } else {
							    this.error = this.$t('Something went wrong');
                            }

						    setTimeout(() => this.isShowNotification = false, 5000);

						    break;
				    }
			    });
        },

	    beforeDestroy(){

	    	if(this.storeMutationSubscriber != null)
	    	{
			    this.storeMutationSubscriber();
            }


		    this.storeMutationSubscriber = null;
	    },

        methods: {

	        OnFormEnter(){

		        var constraints = {

			        email: {
				        presence: {
					        message: this.$t('is required'),
					        allowEmpty: false,
				        },
				        email: {
					        message: this.$t('Not valid Email')
				        },
			        },
		        };


		        this.$Validator({email: this.email }, constraints)
			        .then(() => {

				        this.isProcessing = true;
				        this.$store.dispatch("user/"+types.A_RESEND_CONFIRMATION, { email: this.email });

			        }, (error) => {

		        	    this.isProcessing = false;
				        this.error = error[Object.keys(error)[0]][0];
				        this.isShowNotification = true;
				        setTimeout(() => this.isShowNotification = false, 5000);

                    }).catch((errors) => {

			        this.isProcessing = false;

			        if(errors  && errors != undefined && errors != null){

			        	this.error = errors[Object.keys(errors)[0]][0];
				        this.isShowNotification = true;
				        setTimeout(() => this.isShowNotification = false, 5000);

			        } else {

				        this.error = this.$t('Something went wrong');
				        this.isShowNotification = true;
				        setTimeout(() => this.isShowNotification = false, 5000);
			        }
		        });
            },

	        ShowForm(){
	        	this.state = "form";
            },
        },
    }

</script>