<template>

    <div class="columns">
        <div class="column is-one-third is-offset-one-third" v-show="state=='forgot.password'">

                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">{{ 'Restore Password' | translate }}</p>
                            </div>
                        </div>

                        <div class="content">

                            <div v-show="isShowNotification" class="notification is-danger">
                                {{translatedMessage}}
                            </div>

                            <div class="field" v-show="isFormSuccessfulSend==false">
                                <label class="label">{{ 'E-mail' | translate }}</label>
                                <div class="control">
                                    <input ref="focusField" :disabled="isProcessing" v-model="email" class="input"
                                           @keyup.enter="OnFormEnter" type="text" focus>
                                </div>
                            </div>

                            <div v-show="isFormSuccessfulSend==true">
                                {{ 'We sent a link to restore the password' | translate }}
                            </div>

                        </div>
                    </div>
                </div>
                <br/>
                <div class="field is-grouped" v-show="isFormSuccessfulSend==false">
                    <div class="control">
                        <button @click="Restore" :loading="isProcessing" class="button is-small is-white-base">
                            {{ 'Reset' | translate }}
                        </button>
                    </div>
                    <div class="control has-text-centered" style="padding: 7px;">

                        {{ 'Already registered? Go to' | translate }} <a @click="GoToSignIn">{{ 'Log In' | translate }}</a>

                    </div>
                </div>

        </div>
        <div class="column is-one-third is-offset-one-third" v-show="state=='new.password' && isActiveLink">

            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{ 'Set New Password' | translate }}</p>
                        </div>
                    </div>

                    <div v-show="isFormSuccessfulSend==false" class="content">

                        <div v-show="isShowNotification" class="notification is-danger">
                            {{translatedMessage}}
                        </div>

                        <div class="field">
                            <label class="label">{{ 'Password' | translate }}</label>
                            <div class="control">
                                <input :disabled="isProcessing" v-model="password" class="input"
                                       @keyup.enter="OnFormEnter" type="password" focus>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">{{ 'Password Confirm' | translate }}</label>
                            <div class="control">
                                <input :disabled="isProcessing" v-model="password_confirm" class="input"
                                       @keyup.enter="OnFormEnter" type="password">
                            </div>
                        </div>

                        <div class="field" v-show="isEnable2FA">
                            <label class="label">{{ '2FA Code' | translate }}</label>
                            <div class="control">
                                <input :disabled="isProcessing" v-model="code" class="input"
                                       @keyup.enter="OnFormEnter" type="text">
                            </div>
                        </div>

                    </div>

                    <div v-show="isFormSuccessfulSend==true">
                        {{ 'Your password has been changed' | translate }}
                    </div>
                </div>
            </div>
            <br/>
            <div class="field is-grouped" v-show="isFormSuccessfulSend==false">
                <div class="control">
                    <button @click="Restore" :class="{button: true, 'is-small': true, 'is-white-base': true, 'is-loading': isProcessing }">
                        {{ 'Password Change' | translate }}
                    </button>
                </div>
            </div>


        </div>
        <div class="column is-one-third is-offset-one-third" v-show="state=='new.password' && !isActiveLink">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{ 'Set New Password' | translate }}</p>
                        </div>
                    </div>

                    <div>
                        {{ 'Your link has been expired' | translate }}
                        <br><br>
                        <a href="#/forgot.password">{{ 'Restore Password' | translate }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>

    import * as types from '@/stores/modules/user/types';
    import * as mutation_types from '@/stores/modules/user/mutation_types';

    import { createNamespacedHelpers } from 'vuex';
    const { mapMutations, mapGetters, mapActions, mapState } = createNamespacedHelpers('user');

    export default
    {
        name: 'RestorePassword',

        props: ['state'],

        data (){
            return {
                password: "",
	            password_confirm: "",

                email: "",

                message: "",
                code: "",

                isProcessing: false,
	            isShowNotification: false,

                token: this.$route.params["hash"],

                isEnable2FA: (this.$route.path.indexOf('secret') > -1) ? true : false,

                isFormSuccessfulSend: false,
                storeMutationSubscriber: null,
            }
        },

        computed: {

        	translatedMessage(){
                return this.$t(this.message);
            },

	        isUserAuthenticated(){
		        return this.$store.getters["user/isUserAuthenticated"];
	        },

            isActiveLink(){

                if(this.$route.params.time != undefined && parseInt(this.$route.params.time) > Math.round(new Date().getTime() / 1000))
                {
                    return true;
                }

                return false;
            },
        },

        mounted(){

          this.storeMutationSubscriber =
            this.$store.subscribe((mutation, state) => {

              switch(mutation.type)
              {
                case "user/"+mutation_types.M_RESTORE_PASSWORD_SUCCESS:

                  this.message = "Restore request successfully created! Check your email";

                  this.isProcessing = false;
                  this.isFormSuccessfulSend = true;

                  this.isShowNotification = false;

                  this.email = "";
                  this.message = "";

                  break;

              case "user/"+mutation_types.NEW_PASSWORD_SUCCESS:

                  //this.message = "Your password changed";

                  this.isProcessing = false;
                  this.isFormSuccessfulSend = true;

                  this.isShowNotification = false;

                  this.email = "";
                  this.message = "";

                  break;

              case "user/"+mutation_types.NEW_PASSWORD_FAIL:

                  this.isProcessing = false;
                  this.isFormSuccessfulSend = false;

	              const status = mutation.payload.error.status;
	              switch(status)
	              {
		              case 500:

		              	    if(mutation.payload.error.data.code == 1000){
			                    this.message = this.$t ('Your link has been expired');
                            } else {
			                    this.message = this.$t ('Something went wrong');
                            }

			              break;
		              case 401:

			              if(mutation.payload.error.data.code == 1001)
			              {
				              this.message = this.$t ("error_401_2201");
			              } else {
				              this.message = this.$t ('Something went wrong');
                          }

			              break;
                      case 404:

			              if(mutation.payload.error.data.code == 2207)
			              {
				              this.message = this.$t ("Your link has been expired");
			              } else {
				              this.message = this.$t ('Something went wrong [404:'+mutation.payload.error.data.code+']');
                          }

			              break;
		              case 422:

			              if(mutation.payload.error.data.code == 2100)
			              {
				              this.message = this.$t ("error_2100_" + mutation.payload.error.data.meta[0].code);
			              } else {
				              this.message = this.$t ("error_" + mutation.payload.error.data.code);
			              }

			              break;
		              default:
			              this.message = this.$t ('Something went wrong');
			              break;
	              }

	              this.isShowNotification = true;
	              setTimeout (() => this.isShowNotification = false, 5000);

                  this.email = "";

                  break;

                case "user/"+mutation_types.M_RESTORE_PASSWORD_FAIL:

                  this.isProcessing = false;
                  this.isFormSuccessfulSend = false;

                  this.isShowNotification = true;

	                if ( mutation.payload.error.status == 500 ) {
		                this.message = 'Something went wrong';
	                } else if ( mutation.payload.error.status == 503 ) {

		                let error_message = Object.keys (mutation.payload.error.data.error.message)[ 0 ];
		                this.message = mutation.payload.error.data.error.message[ error_message ][ 0 ];

	                } else {
		                this.message = 'Something went wrong';
	                }

                  //mutation.payload.message
	              setTimeout (() => this.isShowNotification = false, 5000);

                  break;
              }

            });

        },

        beforeDestroy(){
          this.storeMutationSubscriber();
          this.storeMutationSubscriber = null;
        },

        methods: {

            //...mapActions('user', [types.A_RESTORE_PASSWORD]),

	        GoToSignIn()
            {
	            this.$router.push ('/sign-in');
            },

	        OnFormEnter () {

            },

            Restore()
            {
            	if(this.state == "new.password")
            	{
		            if ( this.token == undefined || this.token == "") {
			            this.message = this.$t ('Token is required');
			            this.isShowNotification = true;
			            setTimeout (() => this.isShowNotification = false, 5000);
			            return;
		            }

		            var constraints = {

			            password: {
				            presence: {
					            message: this.$t ('Password is required'),
					            allowEmpty: false,
				            }
			            },

			            password_confirm: {
				            presence: {
					            message: this.$t ('Confirm password is required'),
					            allowEmpty: false,
				            }
			            },
		            };

		            if(this.isEnable2FA == true)
		            {
			            constraints['code'] = {
				            presence: {
					            message: this.$t ('Code is required'),
					            allowEmpty: false,
				            }
			            };
                    }

		            this.$Validator({ password_confirm: this.password_confirm, password: this.password, code: this.code }, constraints, {fullMessages: false})
			            .then(() => {

                              if ( this.password != this.password_confirm ) {
                                  this.message = this.$t ('Passwords not match');
                                  this.isShowNotification = true;
                                  setTimeout (() => this.isShowNotification = false, 5000);
                                  return;
                              }

                              this.isProcessing = true;
                              this.$store.dispatch("user/"+types.NEW_PASSWORD, { password: this.password, code: this.code, token: this.token });

			            },
                      ( error ) => {

                          console.log (error);

                          this.isProcessing = false;
                          this.message = error[ Object.keys (error)[ 0 ] ][ 0 ];
                          this.isShowNotification = true;
                          setTimeout (() => this.isShowNotification = false, 5000);

                      }).catch((errors) => {

			            this.isProcessing = false;

			            if ( errors && errors != undefined && errors != null ) {

				            this.message = errors[ Object.keys (errors)[ 0 ] ][ 0 ];
				            this.isShowNotification = true;
				            setTimeout (() => this.isShowNotification = false, 5000);

			            } else {

				            this.error = this.$t ('Something went wrong');
				            this.isShowNotification = true;
				            setTimeout (() => this.isShowNotification = false, 5000);
			            }
		            });
                } else {
		            var constraints = {

			            email: {
				            presence: {
					            message: this.$t('Email is required'),
					            allowEmpty: false,
				            },
				            email: {
					            message: this.$t('Not valid Email')
				            },
			            },
		            };

		            this.$Validator({ email: this.email }, constraints)
			            .then(() => {

				            this.isProcessing = true;
				            this.$store.dispatch("user/"+types.A_RESTORE_PASSWORD, { email: this.email });

			            },( error ) => {

				            console.log (error);

				            this.isProcessing = false;
				            this.message = error[ Object.keys (error)[ 0 ] ][ 0 ];
				            this.isShowNotification = true;
				            setTimeout (() => this.isShowNotification = false, 5000);

			            }).catch((errors) => {

			            this.isProcessing = false;

			            if ( errors && errors != undefined && errors != null ) {

				            this.message = errors[ Object.keys (errors)[ 0 ] ][ 0 ];
				            this.isShowNotification = true;
				            setTimeout (() => this.isShowNotification = false, 5000);

			            } else {

				            this.error = this.$t ('Something went wrong');
				            this.isShowNotification = true;
				            setTimeout (() => this.isShowNotification = false, 5000);
			            }
		            });
                }
            },
        },
    }

</script>
