<template>

    <div class="columns">
        <div class="column is-one-third is-offset-one-third">

            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{ 'Sign Up' | translate }}</p>
                        </div>
                    </div>

                    <div>
                        <div class="content" v-if="showForm">

                            <div v-show="isShowNotification" v-html="error" class="notification is-danger"></div>

                            <div class="field">
                                <label class="label">{{ 'Username' | translate }}</label>
                                <div class="control">
                                    <input ref="focusField" :disabled="isProcessing" v-model="name" class="input"
                                           @keyup.enter="OnFormEnter" type="text" v-focus>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">{{ 'E-mail' | translate }}</label>
                                <div class="control">
                                    <input ref="focusField" :disabled="isProcessing" v-model="email" class="input"
                                           @keyup.enter="OnFormEnter" type="text">
                                </div>
                            </div>

                            <hr style="width: 100%; background-color: #dddddd; margin: 10px 0px 10px 0px; border: none; height: 1px;"/>

                            <div class="field">
                                <label class="label">{{ 'Password' | translate }}</label>
                                <div class="control">
                                    <input :disabled="isProcessing" v-model="password" class="input"
                                           @keyup.enter="OnFormEnter" type="password">
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">{{ 'Password Confirm' | translate }}</label>
                                <div class="control">
                                    <input :disabled="isProcessing" v-model="password_confirm" class="input"
                                           @keyup.enter="OnFormEnter" type="password">
                                </div>
                            </div>

                        </div>

                        <div class="content has-text-centered" v-html="translatedMessage" style="padding: 20px;" v-else></div>
                    </div>
                </div>

            </div>

            <br/>
            <div class="columns" v-if="showForm">
                <div class="column">
                    <div class="field is-grouped">
                        <div class="control">
                            <button @click="Register"
                                    :class="{button: true, 'is-small': true, 'is-white-base': true, 'is-loading': isProcessing }">
                                {{ 'Sign Up' | translate }}
                            </button>
                        </div>
                        <div class="control has-text-centered" style="padding: 7px;">

                            {{ 'Already registered? Go to' | translate }} <a @click="GoToSignIn">{{ 'Log In' | translate
                            }}</a>

                        </div>
                    </div>
                </div>
            </div>

            <div class="columns" v-else>
                <div class="column">
                    <ResendConfirmation :init-email="email"></ResendConfirmation>
                </div>
            </div>
        </div>
    </div>

</template>

<script>

	import * as types from '@/stores/modules/user/types';
	import * as mutation_types from '@/stores/modules/user/mutation_types';

	import ResendConfirmation from '@/components/user/ResendConfirmation'

	import { createNamespacedHelpers } from 'vuex';

	const { mapMutations, mapGetters, mapActions, mapState } = createNamespacedHelpers ('user');

	export default {
		name: 'SignUp',

		components: {
			ResendConfirmation
		},

		data () {
			return {
				name: "",
				email: "",
				password: "",
				password_confirm: "",

				isProcessing: false,
				isSuccessRegister: false,

				isShowNotification: false,

				message: "",
				error: "",

				storeMutationSubscriber: null,
			}
		},

		computed: {

			translatedMessage () {
				return this.$t (this.message);
			},

			isUserAuthenticated () {
				return this.$store.getters[ "user/isUserAuthenticated" ];
			},

			showForm () {

				if ( this.isUserAuthenticated == true ) return false;
				if ( this.isSuccessRegister == true ) return false;

				return true;
			},
		},

		mounted () {

			this.storeMutationSubscriber =
				this.$store.subscribe (( mutation, state ) => {

					switch ( mutation.type ) {
						case "user/" + mutation_types.M_REGISTER_SUCCESS:

							this.message = 'Registration complete! Check Email to activate your account. Please check spam folder';// "Registration complete! Check Email to activate your account";

							this.isProcessing = false;
							this.isSuccessRegister = true;
							//this.email = "";
							this.password = "";
							this.password_confirm = "";
							this.name = "";

							//this.$router.push('sign-in');

							break;

						case "user/" + mutation_types.M_REGISTER_FAIL:

							this.isProcessing = false;
							this.isSuccessRegister = false;

							const status = mutation.payload.error.status;
							switch(status)
							{
								case 500:
									this.error = this.$t ('Something went wrong')+ ' [500]';
									break
                                case 422:

	                                if(mutation.payload.error.data.code == 2100)
	                                {
		                                this.error = this.$t ("error_2100_"+mutation.payload.error.data.meta[0].code);
                                    } else {
		                                this.error = this.$t ("error_" + mutation.payload.error.data.code);
                                    }

                                	break;
                                default:
	                                this.error = this.$t ('Something went wrong') + ' ['+status+']';
                                	break;
							}

							this.isShowNotification = true;
							setTimeout (() => this.isShowNotification = false, 5000);

							break;
					}
				});

			this.$nextTick (() => {

				this.$refs.focusField.focus ();

			});

		},

		beforeDestroy () {
			this.storeMutationSubscriber ();
			this.storeMutationSubscriber = null;
		},

		methods: {

			//...mapActions([types.A_REGISTER]),

			OnFormEnter () {
				this.Register ();
			},

			GoToSignIn () {
				this.$router.push ('/sign-in');
			},

			Register: function () {

				var constraints = {

					username: {
						presence: {
							message: this.$t ('Username is required'),
							allowEmpty: false,
						}
					},

					email: {
						presence: {
							message: this.$t ('Email is required'),
							allowEmpty: false,
						},
						email: {
							message: this.$t ('Not valid Email')
						},
					},

					password: {
						presence: {
							message: this.$t ('Password is required'),
							allowEmpty: false,
						}
					},

					password_confirm: {
						presence: {
							message: this.$t ('Confirm password is required'),
							allowEmpty: false,
						}
					},
				};

				const data = {
					username: this.name,
					email: this.email,
					password: this.password,
					password_confirm: this.password_confirm,
					lang: this.$i18n.locale (),
				};

				this.$Validator (data, constraints, {fullMessages: false})
					.then (() => {

						if (this.password != this.password_confirm ) {
							this.error = this.$t ('Passwords not match');
							this.isShowNotification = true;
							setTimeout (() => this.isShowNotification = false, 5000);
							return;
						}

						this.isProcessing = true;
						this.$store.dispatch ("user/" + types.A_REGISTER, data);

					}, ( error ) => {

						console.log (error);

						this.isProcessing = false;
						this.error = error[ Object.keys (error)[ 0 ] ][ 0 ];
						this.isShowNotification = true;
						setTimeout (() => this.isShowNotification = false, 5000);

					}).catch (( errors ) => {

					console.log(errors);

					this.isProcessing = false;

					if ( errors && errors != undefined && errors != null ) {

						this.error = errors[ Object.keys (errors)[ 0 ] ][ 0 ];
						this.isShowNotification = true;
						setTimeout (() => this.isShowNotification = false, 5000);

					} else {

						this.error = this.$t ('Something went wrong');
						this.isShowNotification = true;
						setTimeout (() => this.isShowNotification = false, 5000);
					}
				});
			},
		},
	}

</script>
