<template>

    <div class="columns">
        <div class="column is-one-third is-offset-one-third">

            <div class="columns" v-show="showResendActivation && isWant2FACode == false">
                <div class="column">
                    <ResendConfirmation></ResendConfirmation>
                </div>
            </div>

            <div v-show="isWant2FACode==false" class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{ 'Log In' | translate }}</p>
                        </div>
                    </div>

                    <div class="content">

                        <div v-show="isShowNotification" class="notification is-danger">
                            {{error}}
                        </div>

                        <div class="field">
                            <label class="label">{{ 'E-mail' | translate }}</label>
                            <div class="control">
                                <input ref="focusField" :disabled="isProcessing" v-model="email" class="input"
                                       @keyup.enter="OnFormEnter" type="text" focus>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">{{ 'Password' | translate }}</label>
                            <div class="control">
                                <input :disabled="isProcessing" v-model="password" class="input"
                                       @keyup.enter="OnFormEnter" type="password" focus>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div v-show="isWant2FACode==true" class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{ '2FA' | translate }}</p>
                        </div>
                    </div>

                    <div class="content">

                        <div v-show="isShowNotification" class="notification is-danger">
                            {{error}}
                        </div>

                        <div class="field">
                            <label class="label">{{ '2FA Code' | translate }}</label>
                            <div class="control">
                                <input :disabled="isProcessing" v-model="code" class="input"
                                       @keyup.enter="OnFormEnter" type="text" focus>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <br/>
            <div class="field is-grouped">
                <div class="control">
                    <button @click="SignIn"
                            :class="{button: true, 'is-small': true, 'is-white-base': true, 'is-loading': isProcessing }">
                        {{ $t (isWant2FACode == false ? 'Log In' : 'Confirm') }}
                    </button>
                </div>
                <div class="control has-text-centered" style="padding: 7px;">
                    {{ 'Not Registered? Go to' | translate }} <a @click="GoToSignUp">{{ 'Sign Up' | translate }}</a>
                </div>
            </div>
            <br/>
            <div class="columns">
                <div class="column has-text-centered">
                    {{ 'Forgot Password? Go to' | translate }} <a @click="GoToForgot">{{ 'Restore Password' | translate
                    }}</a>
                </div>
            </div>


        </div>
    </div>
</template>

<script>

	import * as types from '@/stores/modules/user/types';
	import * as mutation_types from '@/stores/modules/user/mutation_types';

	import moment from 'moment';

	import ResendConfirmation from '@/components/user/ResendConfirmation'
	import *  as AccountsActions from '@/stores/modules/accounts/action.types';

	import { mapMutations, mapGetters, mapActions } from 'vuex';

	export default {
		name: 'SignIn',

		components: {
			ResendConfirmation
		},

		data () {
			return {
				email: "",
				password: "",

				storeMutationSubscriber: null,
				isShowNotification: false,

				isProcessing: false,
				showResendActivation: false,

				isWant2FACode: false,
				code: "",

				error: "",
			}
		},

		computed: {

			isUserAuthenticated () {
				return this.$store.getters[ "user/isUserAuthenticated" ];
			},
		},

		mounted () {

			this.isWant2FACode = false;

			this.storeMutationSubscriber =
				this.$store.subscribe (( mutation, state ) => {

					switch ( mutation.type ) {
						case "user/" + mutation_types.M_LOGIN_SUCCESS:

							this.isProcessing = false;
							this.email = "";
							this.password = "";

							var eT = new Date (state.user.token_expired);

							this.$cookie.set ('token', state.user.token, {
								expires: eT.toGMTString (),
								domain: document.domain
							});

							var aYearFromNow = new Date();
							aYearFromNow.setFullYear(aYearFromNow.getFullYear() + 1);

							this.$cookie.set ('lang', state.user.user.profile.lang, {
								expires: aYearFromNow.toGMTString (),
								domain: document.domain
							});

							this.$i18n.set (state.user.user.profile.lang);

							this.showResendActivation = false;
							//this.$store.dispatch ("accounts/" + AccountsActions.ACCOUNTS_ACTION_LOAD);
                            if(this.$route.query.hasOwnProperty('redirect')) {
                                this.$router.push (this.$route.query.redirect);
                            } else {
                                this.$router.push ('/');
                            }

							break;

						case "user/" + mutation_types.M_LOGIN_FAIL:

							this.isProcessing = false;
							const status = mutation.payload.error.status;

							switch(status)
                            {
                                case 500:
	                                this.error = this.$t ('Something went wrong') + ' [500]';
                                	break;
								case 503:
									this.isWant2FACode = true;
									return;
								case 403:
									this.error = this.$t ('Wrong Google Authentication code');
									break;
								case 400:
									let error_message = Object.keys (mutation.payload.error.data.error.message)[ 0 ];
									this.error = this.$t (mutation.payload.error.data.error.message[ error_message ][ 0 ]);
									break;
								case 401:

									// Enabled 2FA
									if(parseInt(mutation.payload.error.data.code) == 2202)
									{
										this.isWant2FACode = true;
										return;
                                    }

									if(parseInt(mutation.payload.error.data.code) == 1002)
									{
										this.error = this.$t ("error_401_1002");
										this.showResendActivation = true;
										break;
									}

									if(parseInt(mutation.payload.error.data.code) == 1003)
									{
										moment.locale(this.$i18n.locale ());
										this.error = this.$t ("error_401_1003", { time: moment(new Date()).add(mutation.payload.error.data.meta.ban_time, 'seconds').from(moment(new Date())) });
										this.isShowNotification = true;
										setTimeout (() => this.isShowNotification = false, 5000);

										return;
									}

									this.error = this.$t ("error_401_" + mutation.payload.error.data.code);
									this.showResendActivation = false;
									break;
                                default:
	                                this.error = this.$t ('Something went wrong') + ' ['+status+']';
                                	break;
                            }

							this.isShowNotification = true;
							setTimeout (() => this.isShowNotification = false, 5000);

							break;
					}

				});
		},

		beforeDestroy () {

			if ( this.storeMutationSubscriber != null ) {
				this.storeMutationSubscriber ();
				this.storeMutationSubscriber = null;
			}
		},

		methods: {

			//...mapActions('user', [types.A_LOGIN, types.A_LOGOUT]),

			Logout () {
				this.$store.dispatch ("user/" + types.A_LOGOUT);
			},

			OnFormEnter () {
				this.SignIn ();
			},

			GoToForgot () {
				this.$router.push ('/forgot.password');
			},

			GoToSignUp () {
				this.$router.push ('/sign-up');
			},

			SignIn: function () {

				var constraints = {

					email: {
						presence: {
							message: this.$t ('Email is required'),
							allowEmpty: false,
						},
						email: {
							message: this.$t ('Not valid Email')
						},
					},

					password: {
						presence: {
							message: this.$t ('Password is required'),
							allowEmpty: false,
						},
					}
				};

				if(this.isWant2FACode == true)
				{
					constraints.code = {
						presence: {
							message: this.$t ('Code is required'),
							allowEmpty: false,
						},
                    };
                }

				this.$Validator ({ email: this.email, password: this.password, code: this.code }, constraints, {fullMessages: false})
					.then (() => {

						this.isProcessing = true;
						this.$store.dispatch ("user/" + types.A_LOGIN, {
							                                               email: this.email,
							                                               password: this.password,
							                                               code: this.code
						                                               });
					}, ( error ) => {

						console.log (error);

						this.isProcessing = false;
						this.error = error[ Object.keys (error)[ 0 ] ][ 0 ];
						this.isShowNotification = true;
						setTimeout (() => this.isShowNotification = false, 5000);

					}).catch (( errors ) => {

					this.isProcessing = false;

					if ( errors && errors != undefined && errors != null ) {

						this.error = errors[ Object.keys (errors)[ 0 ] ][ 0 ];
						this.isShowNotification = true;
						setTimeout (() => this.isShowNotification = false, 5000);

					} else {

						this.error = this.$t ('Something went wrong');
						this.isShowNotification = true;
						setTimeout (() => this.isShowNotification = false, 5000);
					}
				});
			},
		},
	}

</script>
