<template>

    <div class="columns">
        <div class="column">

            <div class="table-backgound has-text-left">
                <div class="columns">
                    <div class="column block-small-title flex-centered-left">
                        {{ 'User Settings' | translate }}
                    </div>
                </div>

                <div class="columns">
                    <div class="column has-text-center block-header-line">
                        <img src="../../assets/block-header-line.png">
                    </div>
                </div>

                <div class="columns">
                    <div class="column">
                        <b>{{ 'Username' | translate }}</b>
                    </div>
                    <div class="column">
                        {{$store.state.user.user.username}}
                    </div>
                </div>

                <div class="columns">
                    <div class="column">
                        <b>{{ 'E-mail' | translate }}</b>
                    </div>
                    <div class="column">
                        {{$store.state.user.user.email}}
                    </div>
                </div>

            </div>

        </div>
    </div>

</template>

<script>
    export default {

    }
</script>