<template>

  <Row style="background-color: white;" class="drag_item">
    <Col v-if="isUserAuthenticated">{{ $t('Hello user', {'userName': userName}) }} / <a @click="onClickLogout">{{ 'Logout Button' | translate }}</a></Col>
  </Row>

</template>

<script>

  import * as types from '@/stores/modules/user/types';
  import { mapState, mapActions } from 'vuex';

  export default {

    name: 'UserInfoWidget',

    computed: {

	    isUserAuthenticated(){
		    return this.$store.getters["user/isUserAuthenticated"];
	    },

	    userName(){
		    return (this.$store.state.user != null) ? this.$store.state.user.name : "";
	    },
    },

    methods: {

    	onClickLogout(){
          this.$store.dispatch("user/"+types.A_LOGOUT);
        },

    },

  }

</script>
