<template>

    <div>
        <div v-if="!$store.state.isReady" style="min-height: 100vh;">

            <section class="hero is-medium centered" style="min-height: 100vh;">
                <ClipLoader :loading="true" color="#666666"></ClipLoader>
            </section>

        </div>
        <div v-else>

            <nav class="navbar menu_1st_background" role="navigation" aria-label="main navigation">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="#/">
                            <img src="./assets/logo.png">
                        </a>

                        <div class="navbar-burger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>

                    <div class="navbar-menu">
                        <div class="navbar-start" style="padding-left: 15px;">

                            <!--a :class="{'navbar-item' : true, 'is-active': (CurrentSection=='home')}" href="#/">
                                {{ 'Home' | translate }}
                            </a-->

                            <a :class="{'navbar-item' : true, 'is-active': (CurrentSection=='markets')}"
                               href="#/markets">
                                {{ 'World Market' | translate }}
                            </a>

                            <a class="navbar-item" :href="'https://forum.'+ClientDomain">
                                {{ 'Forum' | translate }}
                            </a>
                        </div>

                        <div class="navbar-end" v-if="IsUserAuth == false">

                            <ChangeLanguage :is-right="true" :is-down="true" class="navbar-item disable-select is-hidden-mobile"></ChangeLanguage>

                            <a :class="{'navbar-item' : true, 'is-active': (CurrentSection=='sign-up')}" href="#/sign-up">
                                {{ 'Sign Up' | translate }}
                            </a>

                            <a class="navbar-item" href="#">
                                <img src="./assets/login_icon.png">
                            </a>

                            <a :class="{'navbar-item' : true, 'is-active': (CurrentSection=='sign-in')}" href="#/sign-in">
                                {{ 'Log In' | translate }}
                            </a>

                        </div>
                        <div class="navbar-end" v-else>

                            <ChangeLanguage :is-right="true" :is-down="true" class="navbar-item disable-select is-hidden-mobile"></ChangeLanguage>

                            <a :class="{'navbar-item' : true, 'is-active': (CurrentSection.indexOf('account_') > -1)}" href="#/account/user.settings">
                                {{ 'My Account' | translate }}
                            </a>

                            <a class="navbar-item" href="#/account/security">
                                <img src="./assets/login_icon.png">
                            </a>

                            <a :class="{'navbar-item' : true}" href="#/logout">
                                {{ 'Logout' | translate }}
                            </a>

                        </div>
                    </div>

                </div>
            </nav>

            <section v-show="IsShowBanner" class="section header-section"></section>

            <router-view/>

            <footer class="footer">
                <div class="container">
                    <div class="columns">
                        <div class="column">

                            <div class="columns footer-1st">
                                <div class="column">
                                    &copy; 2017 - 2018. All right reserved.
                                    <!--a :class="{'footer-menu-item' : true, 'is-active': (CurrentSection=='home')}"
                                       href="#/">{{ 'Home' | translate }}</a>
                                    <a :class="{'footer-menu-item' : true, 'is-active': (CurrentSection=='markets')}"
                                       href="#/markets">{{ 'World Market' | translate }}</a>
                                    <a :class="{'footer-menu-item' : true }" :href="'https://forum.'+ClientDomain">{{ 'Forum' | translate }}</a>
                                    <!--a :class="{'footer-menu-item' : true, 'is-active': (CurrentSection=='about')}" href="#">About</a-->
                                </div>
                            </div>

                            <div class="columns">
                                <div class="column">

                                </div>
                            </div>

                        </div>
                        <div class="column is-5">

                            <div class="columns footer-1st">
                                <div class="column has-text-right" style="margin-top: 0px; padding-right: 30px;">

                                    <a :href="links[$i18n.locale()].instagram" target="_blank" class="footer-icon-instagram left">&nbsp&nbsp;</a>
                                    <a :href="links[$i18n.locale()].telegram" target="_blank" class="footer-icon-telegram left">&nbsp;</a>
                                    <a :href="links[$i18n.locale()].twitter" target="_blank" class="footer-icon-twitter left">&nbsp;</a>
                                    <a :href="links[$i18n.locale()].youtube" target="_blank" class="footer-icon-youtube left">&nbsp&nbsp;</a>
                                    <a :href="links[$i18n.locale()].facebook" target="_blank" class="footer-icon-fb left">&nbsp&nbsp;</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

</template>

<script>

	import ChangeLanguage from '@/components/language/ChangeLanguage'
	import * as UserServiceAction from '@/stores/modules/user/types';

	import ClipLoader from 'vue-spinner/src/ClipLoader.vue'

	export default {
		name: 'app',

        components: {
	        ChangeLanguage, ClipLoader
        },

		data () {
			return {
                links: {
                	ru: {
                		telegram: "https://t.me/iTradeBitRus",
                        twitter: "https://twitter.com/iTradeBitRus",
                        facebook: "https://www.facebook.com/itradebit.rus.1",
                        bitcointalk: "https://bitcointalk.org/index.php?topic=2669527.new#new",
                        instagram: "https://www.instagram.com/itradebitrus/",
                        youtube: "https://www.youtube.com/channel/UCDm9cMOYpPxTA5E6yApM3XQ"
                    },
                    en: {
	                    telegram: "https://t.me/iTradeBit",
	                    twitter: "https://twitter.com/iTradeBit",
	                    facebook: "https://www.facebook.com/profile.php?id=100023510237865 ",
	                    bitcointalk: "https://bitcointalk.org/index.php?topic=2669577.new#new",
	                    instagram: "https://www.instagram.com/itradebit/",
	                    youtube: "https://www.youtube.com/channel/UC2H9VK13vPsbOaveWEb1v_g"
                    },
                },
            };
		},

		computed: {

			ClientDomain(){
				return process.env.CLIENT_DOMAIN;
            },

            IsUserAuth(){
				return this.$store.state.user.isAuthenticated;
            },

			CurrentSection () {

				if(this.$route.name != "" && this.$route.name != undefined && this.$route.name.indexOf('/') > -1)
				{
					return this.$route.name.split('/')[0];
                }

				return this.$route.name;
			},

			IsShowBanner () {
				return this.CurrentSection == 'home';
			},
		},
	}
</script>

<style>

    .footer-1st {
        height: 100px;
    }

    .left {
        float: right;
    }

    .dotted-button {
        border: 0px;
        background-color: transparent;
        color: #fff;
        height: auto;
    }

    .icon-down {
    }

    .dotted-button:hover {
        border: 0px;
        background-color: transparent;
        color: #fff;
    }

    .dotted-button:focus {
        border: 0px;
        background-color: transparent;
        color: #fff;
    }

    .footer {
        height: 200px;
        background-image: url('./assets/footer_bg.png');
        background-size: cover;
        background-position: center center;

        background-color: #09071d;

        bottom: 0px;

        color: #eaeaea;
        font-size: 11pt;
    }

    .header-section {
        background-image: url('./assets/banner.jpg');
        height: 225px;
        background-size: cover;
        background-position: top center;
    }

    .navbar {
        margin: 0px;
    }

    .menu_1st_background {
        background-image: url('./assets/1st_menu_bg.png');
        height: 70px;
        background-size: cover;
        background-position: center center;
    }

    .footer-icon-fb {
        background-image: url('./assets/Facebook.png');
        height: 32px;
        width: 32px;
        background-size: cover;
        cursor: pointer;
        background-position: center center;
        margin-right: 10px;
    }

    .footer-icon-fb:hover {
        background-image: url('./assets/Facebook-active.png');
        height: 32px;
        width: 32px;
        background-size: cover;
        background-position: center center;
    }

    .footer-icon-twitter {
        background-image: url('./assets/Twitter.png');
        height: 32px;
        width: 32px;
        background-size: cover;
        cursor: pointer;
        background-position: center center;
        margin-right: 10px;
    }

    .footer-icon-twitter:hover {
        background-image: url('./assets/Twitter-active.png');
        height: 32px;
        width: 32px;
        background-size: cover;
        background-position: center center;
    }

    .footer-icon-telegram {
        background-image: url('./assets/Telegram.png');
        height: 32px;
        width: 32px;
        background-size: cover;
        cursor: pointer;
        background-position: center center;
        margin-right: 10px;
    }

    .footer-icon-telegram:hover {
        background-image: url('./assets/Telegram-active.png');
        height: 32px;
        width: 32px;
        background-size: cover;
        background-position: center center;
    }

    .footer-icon-instagram {
        background-image: url('./assets/Instagram.png');
        height: 32px;
        width: 32px;
        background-size: cover;
        cursor: pointer;
        background-position: center center;
        margin-right: 10px;
    }

    .footer-icon-instagram:hover {
        background-image: url('./assets/Instagram-active.png');
        height: 32px;
        width: 32px;
        background-size: cover;
        background-position: center center;
    }

    .footer-icon-youtube {
        background-image: url('./assets/Youtube.png');
        height: 32px;
        width: 32px;
        background-size: cover;
        cursor: pointer;
        background-position: center center;
        margin-right: 10px;
    }

    .footer-icon-youtube:hover {
        background-image: url('./assets/Youtube-active.png');
        height: 32px;
        width: 32px;
        background-size: cover;
        background-position: center center;
    }

    .footer-menu-item {
        text-transform: uppercase;
        font-size: 10pt;
        color: #1c95fe;
        height: 30px;
        margin-right: 10px;

        border-bottom: 1px #1c95fe dotted;
    }

    .footer-menu-item:hover {
        color: #fff;
        border-bottom: 1px #fff dotted;
    }

    .footer-menu-item.is-active {
        border-bottom: 2px #1c95fe solid;
    }

    .footer-menu-item.is-active:hover {
        border-bottom: 2px #fff solid;
    }

    .navbar-item {
        text-transform: uppercase;
        font-size: 15px;
        padding-bottom: 5px;
        letter-spacing: 2px;
    }


    .disable-select:hover
    {
        border-bottom: 0px !important;
        /*padding-bottom: 5px !important;*/
    }

    .disable-select
    {
        border-bottom: 0px !important;
    }

    .navbar-item.is-active {
        border-bottom: 3px #1c95fe solid;
        padding-bottom: 2px;
    }

    .navbar-item.disable-select.is-active {
        border-bottom: 3px #1c95fe solid;
        /*padding-bottom: 5px;*/
    }

</style>
