<template>

    <section class="section centered full-height-without-banner">
        <div class="container has-text-centered">
            <ClipLoader :loading="isWaitingResponse" color="#666666"></ClipLoader>
            <div v-show="isShowNotification" v-html="message" :class="{'notification': true, 'is-danger' :isError}"></div>

            <div v-show="isShowNotificationSuccess && !isWaitingResponse" :class="{'notification': true}">
                {{ 'Your account has been activated. You can' | translate }} <a @click='GoToSignIn'>{{ 'Log In' | translate }}</a>
            </div>


            <div class="columns" v-show="isShowNotification && !isShowNotificationSuccess && !isWaitingResponse">
                <div class="column is-one-third is-offset-one-third">
                    <ResendConfirmation></ResendConfirmation>
                </div>
            </div>

        </div>
    </section>

</template>


<script>

	import * as types from '@/stores/modules/user/types';
	import * as mutation_types from '@/stores/modules/user/mutation_types';

	import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
	import ResendConfirmation from '@/components/user/ResendConfirmation'

    const LoginNow = {
		template: "<a @click='GoToSignIn'>{{ 'Log In' | translate }}</a>"
    };

	export default
	{
		name: 'ContainerConfirm',

        components: {
	        ClipLoader,
	        ResendConfirmation,
	        LoginNow
        },

		data(){
			return {
				storeMutationSubscriber: null,
                isWaitingResponse: true,
                responseProblem: "",

				isShowNotification: false,
				isShowNotificationSuccess: true,
				message: "",
                isError: false,
			};
		},

		created(){

			this.storeMutationSubscriber =
				this.$store.subscribe((mutation, state) => {

				console.log(mutation);
					switch(mutation.type)
					{
						case "user/"+mutation_types.M_CONFIRM_REGISTRATION_SUCCESS:

							this.responseProblem = "";
							//this.$router.push('/sign-in');
							this.isError = false;

							this.isProcessing = false;
							this.isWaitingResponse = false;

							console.log("M_CONFIRM_REGISTRATION_SUCCESS");
							this.isShowNotificationSuccess = true;
							this.isShowNotification = false;

							break;

						case "user/"+mutation_types.M_CONFIRM_REGISTRATION_FAIL:

							this.isProcessing = false;
							this.isWaitingResponse = false;
							this.isError = true;

							this.isShowNotificationSuccess = false;

							const status = mutation.payload.error.status;
							switch (status)
                            {
                                case 500:
	                                this.message = this.$t('Something went wrong') + ' [500]';
                                	break;
								case 503:
									this.message = this.$t(mutation.payload.error.data.error.message);
									break;
								case 400:
									let error_message = Object.keys(mutation.payload.error.data.error.message)[0];
									this.message = this.$t(mutation.payload.error.data.error.message[error_message][0]);
									break;
								case 401:
									this.message = this.$t(mutation.payload.error.data.message);
									break;
                                case 410:
									this.message = this.$t('error_410_2105');
									break;
                                case 404:
									this.message = this.$t('error_404_2104');
									break;
                                default:
	                                this.message = this.$t('Something went wrong') + ' ['+status+']';
                                	break;
                            }

							this.isShowNotification = true;

							break;
					}

				});

		},

		beforeDestroy(){
			this.storeMutationSubscriber();
			this.storeMutationSubscriber = null;
		},

		mounted: function () {
			this.$nextTick(() => {
				this.$store.dispatch("user/"+types.A_CONFIRM_REGISTRATION, { token: this.$route.params.hash });
			})
		},

		methods: {
			OnAdd(e, originalEvent){
				console.log(e);
				console.log(originalEvent);
			},

			GoToSignUp(){
				this.$router.push('/sign-up');
			},

			GoToSignIn(){
				this.$router.push('/sign-in');
			}
		},
	}

</script>