<template>

    <section class="section full-height-without-banner">
        <div class="container">
            <RestorePassword :state="currentState"></RestorePassword>
        </div>
    </section>

</template>


<script>

	import RestorePassword from '@/components/user/RestorePassword'

	export default {

		components: {
			RestorePassword,
		},

        computed: {

			currentState(){
				return (this.$route.params.hash != undefined && this.$route.params.hash.length > 0) ? "new.password" : "forgot.password";
            },
        },
	}

</script>
