<template>

    <section class="section full-height-without-banner">
        <div class="container">
            <CoinMarket></CoinMarket>
        </div>
    </section>

</template>

<script>

	import CoinMarket from '@/components/coin-market/market'

	export default {
		name: 'Home',

        props: ['coin'],

		components: {
			CoinMarket
		},

        created(){
			console.log('coin '+this.coin);
        },

		data () {
			return {}
		}
	}

</script>