<template>

    <Row>

      <Col span="24">

      <Row>
        <Col span="2"><lang></lang></Col>
        <Col span="6"><user-info></user-info></Col>
      </Row>

        <br/>

        <Row>

          <Col :span="6">
            <draggable style="min-height: 100px;" v-model="items_slot_1" :options="{group: { name: 'test1', put: () => true, pull: () => true }, draggable: '.drag_item'  }">
              <sign-up></sign-up>
            </draggable>
          </Col>

          <Col :span="6">
            <draggable style="min-height: 100px;" v-model="items_slot_2" :options="{group: { name: 'test2', put: () => true, pull: () => true  }, draggable: '.drag_item' }">
              <sign-in></sign-in>
            </draggable>
          </Col>

          <Col :span="6">
            <draggable v-model="items_slot_3" style="min-height: 100px;" :options="{group: { name: 'test3', put: () => true, pull: () => true  }, draggable: '.drag_item' }">
              <restore-password></restore-password>
              <restore-password state="change_password"></restore-password>
            </draggable>
          </Col>

          <Col :span="6">
            <draggable v-model="items_slot_4" style="min-height: 100px;" :options="{group: { name: 'test4', put: () => true, pull: () => true  }, draggable: '.drag_item' }">
              <fa2></fa2>
            </draggable>
          </Col>

        </Row>

        <Row>
            <Col></Col>
        </Row>
      </Col>

    </Row>

</template>


<script>

    import SignUp from '@/components/user/SignUp';
    import SignIn from '@/components/user/SignIn'
    import Restore from '@/components/user/RestorePassword'
    import ChangeLanguageWidget from '@/components/language/ChangeLanguage'
    import FA2 from '@/components/user/Fa2'
    import UserInfo from '@/components/user/UserInfo'
    import DropZone from '@/components/slots/DropZone';

    import draggable from 'vuedraggable';

    export default
    {
        name: 'ContainerHome',

        data(){
        	return {
        		_slot_1: [],
        		_slot_2: [],
        		_slot_3: [],
        		_slot_4: [],
        	};
        },

        watch: {
        	_slot_1(newValue){
        		console.log(newValue);
        	}
        },

        computed: {

        	items_slot_1 : {

        		get() {
        			return this.$storage.get('items_slot_1') || this._slot_1;
        			//return this._slot_1; //this.$ls.get('slot_1', this._slot_1)
        		},

        		set(value)
        		{
        			this._slot_1 = value;
        			//this.$ls.set('slot_1', value, 60 * 60 * 1000);
                    this.$storage.set('items_slot_1', value);
        			//console.log(this.$ls.get('slot_1'));

        			console.log(this.$storage.get('items_slot_1'));
        		}
        	},
        	items_slot_2: {

        		get() {
        			return this.$storage.get('items_slot_2') || this._slot_2;
        			//return this._slot_2; //this.$ls.get('slot_2', this._slot_2)
        		},

        		set(value)
        		{
        			this._slot_2 = value;

        			this.$storage.set('items_slot_2', value);
        			//this.$ls.set('slot_2', value, 60 * 60 * 1000);

        			console.log(this.$storage.get('items_slot_2'));
        		}
        	},
        	items_slot_3 : {

        		get() {
        			return this.$storage.get('items_slot_3') || this._slot_3;
        			//return this._slot_3; //this.$ls.get('slot_3', this._slot_3)
        		},

        		set(value)
        		{
        			this._slot_3 = value;

        			this.$storage.set('items_slot_3', value);
        			//this.$ls.set('slot_3', value, 60 * 60 * 1000);

        			console.log(this.$storage.get('items_slot_3'));
        		}
        	},
        	items_slot_4 : {

        		get() {
        			return this.$storage.get('items_slot_4') || this._slot_4;
        			//return this._slot_4; //this.$ls.get('slot_4', this._slot_4)
        		},

        		set(value)
        		{
        			this._slot_4 = value;

        			this.$storage.set('items_slot_4', value);
        			console.log(this.$storage.get('items_slot_2'));
        			//this.$ls.set('slot_4', value, 60 * 60 * 1000);

        			//console.log(this.$ls.get('slot_4'));
        		}
        	},
        },

        components: {
            'sign-up': SignUp,
            'sign-in': SignIn,
            'drop-slot': DropZone,
            'user-info': UserInfo,
            'restore-password': Restore,
            'lang': ChangeLanguageWidget,
            'fa2': FA2,
             draggable,
        },

        methods: {
        	OnAdd(e, originalEvent){
        		console.log(e);
        		console.log(originalEvent);
        	}
        },
    }

</script>

<style>
  .sortable-drag {
    border: 2px dotted #999999;
  }
</style>