<template>

    <section class="section">
        <div class="container">
            <TradeList></TradeList>
            <CoinMarket :show="10"></CoinMarket>
        </div>
    </section>


</template>

<script>

	import CoinMarket from '@/components/coin-market/market.widget'
    import TradeList from '@/components/coin-market/trade-list.widget.vue';

    export default {

	    components: {
		    CoinMarket,TradeList
	    },

    }

</script>