<template>

    <section class="section full-height-without-banner">
        <div class="container">
            <sign-in></sign-in>
        </div>
    </section>

</template>


<script>

	import SignIn from '@/components/user/SignIn'

	export default {
		name: 'ContainerLogin',

		data () {
			return {};
		},

		components: {
			'sign-in': SignIn,
		},

		methods: {
			OnAdd ( e, originalEvent ) {
				console.log (e);
				console.log (originalEvent);
			},

			GoToSignUp () {
				this.$router.push ('/sign-up');
			}
		},
	}

</script>
