<template>

    <section class="section full-height-without-banner">
        <div class="container">
            <RestorePassword></RestorePassword>
        </div>
    </section>

</template>


<script>

	import RestorePassword from '@/components/user/RestorePassword'

	export default {

		components: {
			RestorePassword,
		},
	}

</script>
