<template>

    <section class="hero is-medium full-height-without-banner">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    404
                </h1>
                <h2 class="subtitle">
                    {{ 'Not Found Page' | translate }}
                </h2>
            </div>
        </div>
    </section>

</template>