<template>

    <section class="section full-height-without-banner">
        <div class="container">
            <sign-up></sign-up>
        </div>
    </section>

</template>


<script>

	import SignUp from '@/components/user/SignUp';
	import SignIn from '@/components/user/SignIn'
	import UserInfo from '@/components/user/UserInfo'
	import Restore from '@/components/user/RestorePassword'

	export default {
		name: 'ContainerLogin',

		data () {
			return {};
		},

		components: {
			'sign-up': SignUp,
			'sign-in': SignIn,
			'user-info': UserInfo,
			'restore-password': Restore,
		},

		methods: {
			OnAdd ( e, originalEvent ) {
				console.log (e);
				console.log (originalEvent);
			},
		},
	}

</script>