<template>
    <div class="table-backgound-line">
        <div class="columns" style="background-color: #fff; padding-left: 35px;">
            <span style="margin: 10px 20px 10px 20px;" class="has-text-left">{{ 'Cryptocurrencies' | translate }}: <span class="itradebit-is-blue">{{active_cryptocurrencies}}</span></span>
            <span style="margin: 10px 20px 10px 20px;" class="has-text-left">{{ 'Markets' | translate }}: <span class="itradebit-is-blue">{{active_markets}}</span></span>
            <span style="margin: 10px 20px 10px 20px;" class="has-text-left">{{ 'Market Cap' | translate }}: <span class="itradebit-is-teal">{{total_market_cap_by_available_supply_usd}}</span></span>
            <span style="margin: 10px 20px 10px 20px;" class="has-text-left">{{ '24h Vol' | translate }}: <span class="itradebit-is-teal">{{total_volume_usd}}</span></span>
            <span style="margin: 10px 20px 10px 20px;" class="has-text-left">{{ 'BTC Dominance' | translate }}: <span class="itradebit-is-blue">{{bitcoin_percentage_of_market_cap}}%</span></span>
        </div>
    </div>
</template>

<script>
    export default {

    	data(){
    		return {
			    active_cryptocurrencies: 0,
			    active_markets: 0,
			    bitcoin_percentage_of_market_cap: 0,
			    total_market_cap_by_available_supply_usd: 0,
			    total_volume_usd: 0,
            };
        },

    	mounted(){

    		var gmJsonUrl = process.env.GOBAL_MARKET_JSON || "https://s2.coinmarketcap.com/generated/stats/global.json";

		    this.$http.get(process.env.WRAPPER_URL+""+gmJsonUrl).then((response) => {

		    	console.log(response);

		    	if(response.status == 200 && response.data)
		    	{
		    		this.active_cryptocurrencies = response.data.active_cryptocurrencies;
		    		this.active_markets = response.data.active_markets;
		    		this.bitcoin_percentage_of_market_cap = parseFloat(response.data.bitcoin_percentage_of_market_cap).toFixed(2);
		    		this.total_market_cap_by_available_supply_usd = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' , minimumFractionDigits: 0, maximumFractionDigits: 0}).format(response.data.total_market_cap_by_available_supply_usd);
		    		this.total_volume_usd = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' , minimumFractionDigits: 0, maximumFractionDigits: 0}).format(response.data.total_volume_usd);
                }
            });
        },
    }
</script>