<template>
    <div class="columns">
        <div class="column centered full-height-without-banner" v-show="loading">
            <ClipLoader :loading="loading" color="#666666"></ClipLoader>
        </div>
        <div class="column" v-show="!loading">
            <div class="columns" v-if="isOpenChart">
                <div class="column">
                    <div class="columns currency-bg section coin-section" style="margin-bottom: 0">
                        <div class="column is-one-quarter">
                            <img :class="[{'ripple-style'  : (selectedCoin.coin_id == 'ripple')},'svg']" :src="imageBaseUrl+'/svg/'+selectedCoin.coin_id+'.svg'" alt="" >
                        </div>
                        <div class="column second-block">
                            <div class="columns" style="margin-bottom: 0">
                                <div class="columns column is-5" style="margin-bottom: 0">
                                    <div class="column is-2 vertical-align">
                                        <div class="short-name">
                                            <p>{{selectedCoin.symbol}}</p>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="full-name">
                                            <p>{{selectedCoin.name}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="column has-text-right">
                                    <div class="capital-name">
                                        <p>{{'Capitalizations' | translate}}:</p>
                                    </div>
                                    <div class="capital-sum">
                                        <p>{{selectedCoin.market_cap_usd_formated}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column">
                                    <div class="one-currency">
                                        <p>1 {{selectedCoin.symbol}}=</p>
                                    </div>
                                    <div class="">
                                        <span class="one-currency-sum">
                                            {{selectedCoin.price_usd_formated}}
                                        </span>
                                        <span class="one-currency-statistic">
                                            <span class="one-currency-statistic-icon"><img :src="arrowImgScr()" alt=""></span>
                                            <!--<span v-bind:class="[statusColorDownOrUp ? 'greenColorText' : 'redColorText']">{{selectedCoin.percent_change_24h_formated}}</span>-->
                                            <span :class="[{netUp: (selectedCoin.percent_change_24h_class == 'net')},statusColorDownOrUp ? 'greenColorText' : 'redColorText']">{{selectedCoin.percent_change_24h_formated}}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="columns currency-details">
                                <div class="column is-two-fifth">{{'Volume of issue' | translate}} : {{selectedCoin.available_supply_formated}}</div>
                                <!--<div class="column is-one-fifth">Год основания: <span>2009</span></div>-->
                                <!--<div class="column is-one-fifth">Метод зашиты: PoW</div>-->
                                <!--<div class="column is-one-fifth">Алгоритм: SHA-256</div>-->
                            </div>
                            <div class="columns currency-links" >
                                <div class="columns column currency-links-left" style="margin-bottom: 0">
                                    <div v-show="selectedCoin.hasOwnProperty('links-to-forum')  && selectedCoin['links-to-forum'].hasOwnProperty(this.$i18n.locale ()) && selectedCoin['links-to-forum'][this.$i18n.locale ()] != ''" class="column currency-links-site">
                                        <a target="_blank" :href="selectedCoin['links-to-forum'][this.$i18n.locale ()]">
                                            <img :src="require('@/assets/links-forum.png')" alt="">
                                            <span>{{selectedCoin['links-to-forum'][this.$i18n.locale ()]}}</span>
                                        </a>
                                    </div>
                                    <!--<div class="column">-->
                                        <!--<span class="currency-links-mess">-->
                                            <!--<a href="#">-->
                                                <!--<i class="fab fa-telegram-plane"></i>-->
                                            <!--</a>-->
                                        <!--</span>-->
                                        <!--<span class="currency-links-mess">-->
                                            <!--<a href="#">-->
                                                <!--<i class="fab fa-facebook-f"></i>-->
                                            <!--</a>-->
                                        <!--</span>-->
                                        <!--<span class="currency-links-mess">-->
                                            <!--<a href="#">-->
                                                <!--<i class="fab fa-btc"></i>-->
                                            <!--</a>-->
                                        <!--</span>-->
                                        <!--<span class="currency-links-mess">-->
                                            <!--<a href="#">-->
                                                <!--<i class="fab fa-twitter"></i>-->
                                            <!--</a>-->
                                        <!--</span>-->
                                        <!--<span class="currency-links-mess">-->
                                            <!--<a href="#">-->
                                                <!--<i class="fab fa-reddit-alien"></i>-->
                                            <!--</a>-->
                                        <!--</span>-->
                                    <!--</div>-->
                                </div>
                                <!--<div class="columns column currency-links-right has-text-right vertical-align">-->
                                        <!--<span><span class="currency-links-right-number">N1</span></span>-->
                                        <!--<span><button class="currency-links-right-buy">BUY</button></span>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>

                    <!--<section class="section coin-section">-->

                        <!--<div class="columns">-->
                            <!--<div class="column">-->
                                <!--<h1 class="coin-title">{{selectedCoin.name}} ({{selectedCoin.symbol}})</h1>-->
                            <!--</div>-->
                            <!--<div class="column" style="padding-top: 20px;">-->
                                <!--<span class="coin-subtitle"><b>{{ 'Volume (24h)' | translate }}</b>: {{selectedCoin.volume_24h_usd_formated}}</span>-->
                            <!--</div>-->
                            <!--<div class="column has-text-right" style="padding-top: 20px;">-->
                                <!--<span class="coin-subtitle">{{ 'Market Cup' | translate }}: <b>{{selectedCoin.market_cap_usd_formated}}</b></span>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="columns">-->
                            <!--<div class="column">-->
                                <!--1 {{selectedCoin.symbol}} =<br/>-->
                                <!--<span class="coin-price-title">{{selectedCoin.price_usd_formated}} <sup :class="selectedCoin.percent_change_24h_class">{{selectedCoin.percent_change_24h_formated}}</sup></span><br/>-->
                                <!--({{selectedCoin.price_btc_formated}} BTC)-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="columns">-->
                            <!--<div class="column is-4">-->
                                <!--<b>{{ 'Total units' | translate }}</b>: {{selectedCoin.available_supply_formated}}-->
                            <!--</div>-->
                            <!--<div class="column  is-4">-->
                                <!--<b>{{ 'Max Supply' | translate }}</b>: {{selectedCoin.max_supply_formated}}-->
                            <!--</div>-->
                            <!--<div class="column has-text-right">-->
                                <!--<a @click="BackToList($event)" class="button is-small is-white-base">-->
                                    <!--<span class="icon is-small"><i :class="{'ion-chevron-left': true}"></i></span> &nbsp;&nbsp;&nbsp;{{ 'Back to list' | translate }}-->
                                <!--</a>-->
                            <!--</div>-->
                        <!--</div>-->

                    <!--</section>-->

                    <br/>

                    <!--<div class="tabs is-centered">-->
                        <!--<ul>-->
                            <!--<li :class="{'is-active': currentCoinTab == 'graph' }"><a @click="SetCoinTab('graph', $event)">{{ 'Graphs' | translate }}</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <div class="columns" style="margin-bottom: 0; margin-top: 25px">
                        <div class="column" style="padding-bottom: 0">
                            <div class="card card-market-list">
                                <header class="card-header">
                                    <p class="card-header-title">
                                         {{'Rate' | translate }} {{selectedCoin.name}}
                                    </p>
                                </header>
                            </div>
                            <div class="columns">
                                <div class="column has-text-center block-header-line">
                                    <img src="../../assets/block-header-line.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-backgound">

                        <div class="columns column">
                            <div class="column dropdow-main-box">
                                <div class="column left-dropdown">
                                    <div class="column left-dropdown-box">
                                        <input @click="selectedPeriod = '1D'; UpdateSelectedPeriod()" class="is-checkradio daysCheckRadio is-success" id="coin_table_period_1d" type="radio" name="coin_table_period" :checked="selectedPeriod=='1D'">
                                        <label for="coin_table_period_1d">{{ '1D' | translate }}</label>
                                    </div>
                                    <div class="column left-dropdown-box">
                                        <input @click="selectedPeriod = '7D'; UpdateSelectedPeriod()" class="is-checkradio daysCheckRadio is-success" id="coin_table_period_7d" type="radio" name="coin_table_period" :checked="selectedPeriod=='7D'">
                                        <label for="coin_table_period_7d">{{ '7D' | translate }}</label>
                                    </div>
                                    <div class="column left-dropdown-box">
                                        <input @click="selectedPeriod = '1M'; UpdateSelectedPeriod()" class="is-checkradio daysCheckRadio is-success" id="coin_table_period_1m" type="radio" name="coin_table_period" :checked="selectedPeriod=='1M'">
                                        <label for="coin_table_period_1m">{{ '1M' | translate }}</label>
                                    </div>
                                    <div class="column left-dropdown-box">
                                        <input @click="selectedPeriod = '3M'; UpdateSelectedPeriod()" class="is-checkradio daysCheckRadio is-success" id="coin_table_period_3m" type="radio" name="coin_table_period" :checked="selectedPeriod=='3M'">
                                        <label for="coin_table_period_3m">{{ '3M' | translate }}</label>
                                    </div>
                                    <div class="column left-dropdown-box">
                                        <input @click="selectedPeriod = 'YTD'; UpdateSelectedPeriod()" class="is-checkradio daysCheckRadio is-success" id="coin_table_period_ytd" type="radio" name="coin_table_period" :checked="selectedPeriod=='YTD'">
                                        <label for="coin_table_period_ytd">{{ 'YTD' | translate }}</label>
                                    </div>
                                    <div class="column left-dropdown-box">
                                        <input @click="selectedPeriod = 'ALL'; UpdateSelectedPeriod()" class="is-checkradio daysCheckRadio is-success" id="coin_table_period_all" type="radio" name="coin_table_period" :checked="selectedPeriod=='ALL'">
                                        <label for="coin_table_period_all">{{ 'ALL' | translate }}</label>
                                    </div>
                                </div>
                                <div class="columns column right-dropdown is-5">
                                    <div class="column right-dropdown-back-to-list">
                                        <a @click="BackToList($event)" class="button is-small is-white-base">
                                            <span class="icon is-small"><i :class="{'ion-chevron-left': true}"></i></span> &nbsp;&nbsp;&nbsp;{{ 'Back to list' | translate }}
                                        </a>
                                    </div>
                                    <div class="column dropdown is-right">
                                        <div class="dropdown-trigger">
                                            <button class="button" v-on:click="isOpenChartsDropdown = !isOpenChartsDropdown" aria-haspopup="true" aria-controls="dropdown-menu3">
                                                <span>{{chartSelected | translate}}</span>
                                                <span  :class="[{chartsArrowRotate : isOpenChartsDropdown},'icon is-small']">
                                                    <i  class="fas fa-angle-up" aria-hidden="true"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <div class="dropdown-menu" v-show="isOpenChartsDropdown" id="dropdown-menu4" role="menu" >
                                            <div class="dropdown-content">
                                                <div class="dropdown-charts-menu">
                                                    <span @click="ShowUSDChart" :class="{'button': true, 'is-success': selectedChart=='usd', 'is-selected': selectedChart=='usd'}">{{ 'Price USD Chart' | translate }}</span>
                                                    <span @click="ShowBTCChart" :class="{'button': true, 'is-success': selectedChart=='btc', 'is-selected': selectedChart=='btc'}" v-show="selectedCoin.coin_id!='bitcoin'">{{ 'Price BTC Chart' | translate }}</span>
                                                    <span @click="ShowMarketCapChart" :class="{'button': true, 'is-success': selectedChart=='market', 'is-selected': selectedChart=='market'}">{{ 'Market Cap Chart' | translate }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--<div class="field">-->
                                    <!--<input @click="selectedPeriod = '1D'; UpdateSelectedPeriod()" class="is-checkradio is-success" id="coin_table_period_1d" type="radio" name="coin_table_period" :checked="selectedPeriod=='1D'">-->
                                    <!--<label for="coin_table_period_1d">{{ '1D' | translate }}</label>-->
                                    <!--<input @click="selectedPeriod = '7D'; UpdateSelectedPeriod()" class="is-checkradio is-success" id="coin_table_period_7d" type="radio" name="coin_table_period" :checked="selectedPeriod=='7D'">-->
                                    <!--<label for="coin_table_period_7d">{{ '7D' | translate }}</label>-->
                                    <!--<input @click="selectedPeriod = '1M'; UpdateSelectedPeriod()" class="is-checkradio is-success" id="coin_table_period_1m" type="radio" name="coin_table_period" :checked="selectedPeriod=='1M'">-->
                                    <!--<label for="coin_table_period_1m">{{ '1M' | translate }}</label>-->
                                    <!--<input @click="selectedPeriod = '3M'; UpdateSelectedPeriod()" class="is-checkradio is-success" id="coin_table_period_3m" type="radio" name="coin_table_period" :checked="selectedPeriod=='3M'">-->
                                    <!--<label for="coin_table_period_3m">{{ '3M' | translate }}</label>-->
                                    <!--<input @click="selectedPeriod = 'YTD'; UpdateSelectedPeriod()" class="is-checkradio is-success" id="coin_table_period_ytd" type="radio" name="coin_table_period" :checked="selectedPeriod=='YTD'">-->
                                    <!--<label for="coin_table_period_ytd">{{ 'YTD' | translate }}</label>-->
                                    <!--<input @click="selectedPeriod = 'ALL'; UpdateSelectedPeriod()" class="is-checkradio is-success" id="coin_table_period_all" type="radio" name="coin_table_period" :checked="selectedPeriod=='ALL'">-->
                                    <!--<label for="coin_table_period_all">{{ 'ALL' | translate }}</label>-->
                                <!--</div>-->

                            </div>
                        </div>

                        <div class="columns">
                            <div class="column" style="height: 400px;">

                                    <IEcharts @ready="onReady" :resizable="true" :option="chartOptions" :styles="{ width: '100%', height: '100%' }" :loading="isLoadingChart"></IEcharts>

                            </div>
                        </div>

                    </div>
                    <div class="columns" style="margin-bottom: 0;margin-top: 45px">
                        <div class="column" style="padding-bottom: 0">
                            <div class="card card-market-list">
                                <header class="card-header">
                                    <p class="card-header-title">
                                        {{'Exchanges' | translate }} {{selectedCoin.name}}
                                    </p>
                                </header>
                            </div>
                            <div class="columns">
                                <div class="column has-text-center block-header-line">
                                    <img src="../../assets/block-header-line.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-backgound">

                        <table class="table is-hoverable is-fullwidth">
                            <thead>
                            <tr>
                                <th>
                                    <a @click="sortMarket('source',$event)" href="">{{ 'Market' | translate }}</a>
                                    <span class="icon"><i :class="(sortArrowMarketNew('source')) ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i></span>
                                </th>
                                <th>
                                    <a @click="sortMarket('pair',$event)" href="">{{ 'Pair' | translate }}</a>
                                    <span class="icon"><i :class="(sortArrowMarketNew('pair')) ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i></span>
                                </th>
                                <th>
                                    <a @click="sortMarket('price',$event)" href="">{{ 'Price USD' | translate }}</a>
                                    <span class="icon"><i :class="(sortArrowMarketNew('price')) ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i></span>
                                </th>
                                <th>
                                    <a @click="sortMarket('volume',$event)" href="">{{ 'Volume USD (24h)' | translate }}</a>
                                    <span class="icon"><i :class="(sortArrowMarketNew('volume')) ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i></span>
                                </th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr v-for="row2 in marketData" class="observe-item-row">

                                <td>
                                    <a :href="marketInfo(row2.source_id).website" target="_blank">{{row2.source}}</a>
                                    <!--Poptip trigger="hover" placement="right" :width="300" :title="row2.source">
                                    <a>{{row2.source}}</a>
                                    <div slot="content">
                                        <Row>
                                            <Col :span="12"><b>Volume USD (24h)</b></Col>
                                            <Col :span="12"><b>Volume BTC (24h)</b></Col>
                                        </Row>
                                        <Row>
                                            <Col :span="12">{{marketInfo(row2.source_id).volume_usd}}</Col>
                                            <Col :span="12">{{marketInfo(row2.source_id).volume_btc}}</Col>
                                        </Row>
                                        <hr/>
                                        <Row>
                                            <Col :span="24"><a :href="marketInfo(row2.source_id).website" target="_blank">{{marketInfo(row2.source_id).website}}</a></Col>
                                        </Row>
                                    </div>
                                </Poptip--></td>
                                <td>{{row2.pair}}</td>
                                <td>{{row2.price}}</td>
                                <td>{{row2.volume}}</td>

                            </tr>
                            </tbody>

                        </table>
                    </div>

                </div>
            </div>
            <div class="columns" v-else>
                <div class="column">
                    <div class="columns">
                        <div class="column has-text-centered">
                            <h1 class="title-big small-margins">{{ 'World Market' | translate }}</h1>
                        </div>
                    </div>

                    <GlobalInfo></GlobalInfo>
                    <br/>
                    <div class="columns">
                        <div class="column is-2">
                            <div class="field">
                                <div class="control has-icons-right">
                                    <input @change="page=1" class="input" type="text" v-model="coin_filter" :placeholder="$t('Search').toUpperCase()" value="">
                                    <span class="icon is-small is-right">
                                      <i class="fas fa-search"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="column has-text-right">
                            <a v-show="isPrevPage" @click="page--" class="button is-small is-white-base">
                                <span class="icon is-small"><i :class="{'ion-chevron-left': true}"></i></span>&nbsp;&nbsp;{{ 'Prev' | translate }}
                            </a>

                            <a v-show="isNextPage" @click="page++" class="button is-small is-white-base">
                                {{ 'Next' | translate }}&nbsp;&nbsp;<span class="icon is-small"><i :class="{'ion-chevron-right': true}"></i></span>
                            </a>

                            <a @click="ToggleCoins" class="button is-small is-white-base">
                                <span class="icon is-small"><i :class="{'ion-chevron-down': countByPage!=coin_markets.length, 'ion-chevron-up': countByPage==coin_markets.length}"></i></span> &nbsp;&nbsp;&nbsp;{{countByPage!=coin_markets.length ? $t('View All') : $t('View Top')}}
                            </a>

                        </div>
                    </div>

                    <div class="columns">
                        <div class="column">
                            <div class="table-backgound">

                                <table class="table is-hoverable is-fullwidth">
                                    <thead>
                                    <tr>
                                        <th><a :class="{'selected-table-title': sort_by_field == 'rank'}" @click="sort('rank', $event)" href="#">#</a>&nbsp;<span class="icon"><i :class="sortArrow('rank')"></i></span></th>
                                        <th style="min-width:150px;"><a :class="{'selected-table-title': sort_by_field == 'name'}" @click="sort('name', $event)" href="#">{{ 'Name' | translate }}</a>&nbsp;<span class="icon"><i :class="sortArrow('name')"></i></span></th>
                                        <th style="min-width:150px;"><a :class="{'selected-table-title': sort_by_field == 'market_cap_usd'}" @click="sort('market_cap_usd', $event)" href="#">{{ 'Market Cup' | translate }}</a>&nbsp;<span class="icon"><i :class="sortArrow('market_cap_usd')"></i></span></th>
                                        <th style="min-width:150px;"><a :class="{'selected-table-title': sort_by_field == 'price_usd'}" @click="sort('price_usd', $event)" href="#">{{ 'Price' | translate }}</a>&nbsp;<span class="icon"><i :class="sortArrow('price_usd')"></i></span></th>
                                        <th style="min-width:150px;" v-show="!isShort"><a :class="{'selected-table-title': sort_by_field == 'price_btc'}" @click="sort('price_btc', $event)" href="#">{{ 'Price BTC' | translate }}</a>&nbsp;<span class="icon"><i :class="sortArrow('price_btc')"></i></span></th>
                                        <th style="min-width:150px;"><a :class="{'selected-table-title': sort_by_field == 'volume_24h_usd'}" @click="sort('volume_24h_usd', $event)" href="#">{{ 'Volume (24h)' | translate }}</a>&nbsp;<span class="icon"><i :class="sortArrow('volume_24h_usd')"></i></span></th>
                                        <th style="min-width:150px;"><a :class="{'selected-table-title': sort_by_field == 'available_supply'}" @click="sort('available_supply', $event)" href="#">{{ 'Total units' | translate }}</a>&nbsp;<span class="icon"><i :class="sortArrow('available_supply')"></i></span></th>
                                        <th style="min-width:150px;" v-show="!isShort"><a :class="{'selected-table-title': sort_by_field == 'percent_change_1h'}" @click="sort('percent_change_1h', $event)" href="#">{{ 'Change (1h)' | translate }}</a>&nbsp;<span class="icon"><i :class="sortArrow('percent_change_1h')"></i></span></th>
                                        <th :class="{'selected-table-title': sort_by_field == 'percent_change_24h'}" style="min-width: 150px;"><a @click="sort('percent_change_24h', $event)" href="#">{{ 'Change (24h)' | translate }}</a>&nbsp;<span class="icon"><i :class="sortArrow('percent_change_24h')"></i></span></th>
                                        <th style="min-width:150px;" v-show="!isShort"><a :class="{'selected-table-title': sort_by_field == 'percent_change_7d'}" @click="sort('percent_change_7d', $event)" href="#">{{ 'Change (7d)' | translate }}</a>&nbsp;<span class="icon"><i :class="sortArrow('percent_change_7d')"></i></span></th>
                                        <th>{{ 'Price Graph' | translate }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr v-show="!loading" v-for="(row, index) in tableData" :key="row.coin_id">

                                        <td :key="'item-row-id-'+row.coin_id">{{(page <= 1) ? index + 1 : ((page * countByPage) - countByPage) + (index + 1)}}</td>
                                        <td :key="'item-row-name-'+row.coin_id"><img style="width: 18px; height: 18px;" :src="imageBaseUrl+'/icon_'+row.coin_id+'.png'" align="absmiddle" />&nbsp;&nbsp;&nbsp;<a class="coin-list-link" :href="'#/markets/'+row.coin_id">{{row.name}}</a></td>
                                        <td :key="'item-row-cap-'+row.coin_id">{{row.market_cap_usd_formated}}</td>
                                        <td :key="'item-row-price-'+row.coin_id">{{row.price_usd_formated}}</td>
                                        <td :key="'item-row-btc-'+row.coin_id" v-show="!isShort">{{row.price_btc_formated}}</td>
                                        <td :key="'item-row-volume24-'+row.coin_id">{{row.volume_24h_usd_formated}}</td>
                                        <td :key="'item-row-supply-'+row.coin_id">{{row.available_supply_formated}}</td>
                                        <td :key="'item-row-change1-'+row.coin_id" v-show="!isShort" :class="row.percent_change_1h_class">{{row.percent_change_1h_formated}}</td>
                                        <td :key="'item-row-change24-'+row.coin_id" :class="row.percent_change_24h_class">
                                            <span>{{row.percent_change_24h_formated}}</span>
                                            <img  style="width: 11px; margin-left: 6px" :class="{perscent_img_st : (row.percent_change_24h_formated == '0.00%')}" :src="arrowImgScr(row.percent_change_24h_formated)"  alt="">
                                        </td>
                                        <td :key="'item-row-change7-'+row.coin_id" v-show="!isShort" :class="row.percent_change_7d_class">{{row.percent_change_7d_formated}}</td>
                                        <td style="min-height: 72px; text-align: center"><img style="min-height: 2px;" :src="imageBaseUrl+'/'+row.coin_id+'.png?generation='+row.generation+''" @error="onerrorimg"/></td>
                                        <!--<td style="min-height: 72px;"><img style="min-height: 20px;" height="20" :src="imageBaseUrl+'/'+row.coin_id+'.png?generation='+row.generation+''" /></td>-->
                                    </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column is-2">
                        </div>
                        <div class="column has-text-right">
                            <a v-show="isPrevPage" @click="page--" class="button is-small is-white-base">
                                <span class="icon is-small"><i :class="{'ion-chevron-left': true}"></i></span>&nbsp;&nbsp;{{ 'Prev' | translate }}
                            </a>

                            <a v-show="isNextPage" @click="page++" class="button is-small is-white-base">
                                {{ 'Next' | translate }}&nbsp;&nbsp;<span class="icon is-small"><i :class="{'ion-chevron-right': true}"></i></span>
                            </a>

                            <a @click="ToggleCoins" class="button is-small is-white-base">
                                <span class="icon is-small"><i :class="{'ion-chevron-down': countByPage!=coin_markets.length, 'ion-chevron-up': countByPage==coin_markets.length}"></i></span> &nbsp;&nbsp;&nbsp;{{countByPage!=coin_markets.length ? $t('View All') : $t('View Top')}}
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import IEcharts from 'vue-echarts-v3/src/full.js';
    import ClipLoader from 'vue-spinner/src/ClipLoader.vue'

    import * as types from '@/stores/modules/markets/types.action';
    import * as mutation_types from '@/stores/modules/markets/types.mutations';
    import GlobalInfo from '@/components/coin-market/global'

    export default
    {
    	name: 'GeneralCoinValues',

	    props: ['show', 'coin'],

        data(){
    		return {

                echarts: null,
                arrowUpImg: '',
                arrowDownImg: '',
                emptyChartImg: require('@/assets/empty.png'),
                statusColorDownOrUp: true,
			    currentCoinTab: 'graph',

			    loading: false,
			    isLoadingChart: false,
                isCollapsed: true,
                isShort: true,
                isOpenChart: false,

                cacheControl: new Date().getTime(),

                sort_by_field: "market_cap_usd",
                sort_type: "desc",

                page: 1,
                countByPage: 10,
                isNextPage: true,
                isPrevPage: false,

                isOpenDaysDropdown: false,
                isOpenChartsDropdown: false,
                selectedChartOption: 1,

			    sort_markets_by_field: "source",
			    sort_markets_type: "asc",

			    selectedPeriod: "ALL",
			    coin_filter: "",
                old_coin_filter: "",

                chart_values: [],
                chart_original_values: {},
                chartSelected: 'Price USD Chart',

			    selectedCoin : null,

                selectedChart: "usd",

                imageBaseUrl: process.env.GOOGLE_STORAGE_COINMARKET_URL,

                chartOptions: {
	                tooltip: {
		                trigger: 'axis',
                        tooltip:{
                            backgroundColor:'rgba(0,0,0,0)'
                        }
	                },
	                grid: {

                        right: "10%",
                        bottom: "10%",
                        top: "10%",
                    },
	                xAxis: {
                        nameTextStyle: {
                            fontStyle: 'italic',
                            fontWeight:'bold'
                        },
                        axisLine:{
                            lineStyle:{
                                color:'#168af0',
                                width: 1.5
                            }
                        },
                        axisLabel: {
                            textStyle:{
                                color:'#c4c4c4',
                            }
                        },
		                data: []
	                },
                    color: ["#168af0"],
	                toolbox: {
		                show: false,
		                feature: {
			                dataZoom: {
				                yAxisIndex: 'none'
			                },
			                dataView: {readOnly: false},
			                magicType: {type: ['line', 'bar']},
			                restore: {},
			                saveAsImage: {}
		                }
	                },
	                animation: false,
	                yAxis: {
                        axisLine:{
                            lineStyle:{
                                color:'#168af0',
                                width: 0.5
                            }
                        },
                        axisLabel: {
                            textStyle:{
                                color:'#c4c4c4',
                            }
                        },
                        nameTextStyle: {
                            color:'#00a599'
                        },
	                	nameLocation: "center",
		                splitLine: {
			                show: false
		                }
	                },
	                toolbox: {
		                right: 50,
                        orient: 'vertical',
		                feature: {
			                saveAsImage: { title: "Save Image", }
		                }
	                },

                    textStyle: {
	                	color: '#C3C3C3',
                    },

	                dataZoom: [{
		                startValue: '2017-10-10'
	                }, {
		                type: 'inside'
	                }],

	                series: {
		                name: 'Price USD',
		                type: 'line',
		                lineStyle: {
		                	width: 2,
                        },
		                data:[]
	                }
                }
            };
        },

        components: {
	        IEcharts, ClipLoader, GlobalInfo
        },

        computed: {


	        coin_markets(){
                return this.$store.state.markets.coins
            },

	        info_markets(){
		        return this.$store.state.markets.markets;
	        },

            tableData(){

            	let showCount = parseInt(this.show) || 10;
            	let res;

	            let Sort = (a, b) => {

	            	if(this.sort_by_field == "name")
	            	{
			            if (a[this.sort_by_field].toLowerCase() > b[this.sort_by_field].toLowerCase()) {
				            return 1;
			            }
			            if (a[this.sort_by_field].toLowerCase() < b[this.sort_by_field].toLowerCase()) {
				            return -1;
			            }
                    } else {
			            if (a[this.sort_by_field] > b[this.sort_by_field]) {
				            return 1;
			            }
			            if (a[this.sort_by_field] < b[this.sort_by_field]) {
				            return -1;
			            }
                    }

		            return 0;
	            };

                let filtered_coins = this.coin_markets || [];

	            if(this.coin_filter.length > 0)
	            {
	            	if(this.old_coin_filter != this.coin_filter) this.page = 1;
	            	this.old_coin_filter = this.coin_filter;

                    const searchString = this.coin_filter.toLowerCase();
		            filtered_coins = this.coin_markets.filter(item => { const idx = item.name.toLowerCase().indexOf(searchString); if(idx > -1){ return true; } return false; });
                }

	            let sorted = (this.sort_type == "asc") ? filtered_coins.sort(Sort) : filtered_coins.sort(Sort).reverse();

                /*if(this.isCollapsed){
	                res = sorted.slice(0, showCount);
                } else {
	                res = sorted;
                }*/

	            res = sorted;

	            let startFrom = this.page * this.countByPage - this.countByPage;
	            let end = startFrom + this.countByPage;

	            if(end > res.length){
		            end  = res.length;
	            }

	            if(end >= res.length){
	            	this.isNextPage = false;
                } else {
		            this.isNextPage = true;
                }

                if(this.page > 1)
                {
                	this.isPrevPage = true;
                } else {
	                this.isPrevPage = false;
                }

	            if(this.countByPage == this.coin_markets.length)
	            {
		            this.isNextPage = false;
		            this.isPrevPage = false;
		            startFrom = 0;
		            end  = res.length;
	            }

	            return res.slice(startFrom, end);
            },

            marketData(){

		        let res;
		        if(this.selectedCoin == null)
		        	return []

		        let Sort = (a, b) => {
			        if (a[this.sort_markets_by_field] > b[this.sort_markets_by_field]) {
				        return 1;
			        }
			        if (a[this.sort_markets_by_field] < b[this.sort_markets_by_field]) {
				        return -1;
			        }

			        return 0;
		        };

		        var list = this.selectedCoin.market_list;

		        for(var i = 0; i < list.length; i++)
		        {
		        	if(list[i].formated == undefined || list[i].formated == false) {
				        list[ i ].formated = true;
				        list[ i ].price = new Intl.NumberFormat( 'en-US', {
					        style: 'currency',
					        currency: 'USD',
					        minimumFractionDigits: 0,
					        maximumFractionDigits: 8
				        } ).format( list[ i ].price );
				        list[ i ].volume = new Intl.NumberFormat( 'en-US', {
					        style: 'currency',
					        currency: 'USD',
					        minimumFractionDigits: 0,
					        maximumFractionDigits: 8
				        } ).format( list[ i ].volume );
			        }
                }

		        if(list && list != undefined && list.length > 0)
		        {
			        return (this.sort_markets_type == "asc") ? list.sort(Sort) : list.sort(Sort).reverse();

                } else {
		        	return [];
                }
	        }
        },

        methods: {
            onerrorimg(e) {
                if (e.target.src !== this.emptyChartImg) {
                    e.target.src = this.emptyChartImg;
                }
            },
            arrowImgScr:function(id = 1) {
                if(id != 1) {
                    if(id.indexOf('-') > -1) {
                        return this.arrowUpImg = require('@/assets/arrow-down.png')
                    } else if (id == '0.00%'){
                        return this.arrowUpImg = require('@/assets/empty.png')
                    } else {
                        return this.arrowUpImg = require('@/assets/arrow-up.png')
                    }
                } else {
                    if(this.selectedCoin.percent_change_24h_formated.indexOf('-') > -1) {
                        this.statusColorDownOrUp = false;
                        return this.arrowUpImg = require('@/assets/arrow-down.png')
                    } else {
                        this.statusColorDownOrUp = true;
                        if(this.selectedCoin.percent_change_24h_formated == '0.00%') {
                            return this.arrowUpImg = ''
                        }
                        return this.arrowUpImg = require('@/assets/arrow-up.png')
                    }
                }
            },
	        ToggleCoins(){
	        	if(this.countByPage == this.coin_markets.length)
	        	{
			        this.page = 1;
	        		this.countByPage = 10;

	        		console.log("Show By Page");

                } else {

			        console.log("Show All");

	        		this.page = 1;
			        this.countByPage = this.coin_markets.length;
                }
            },

	        onReady(instance, echarts)
            {
            	this.echarts = instance;
            },

	        SetCoinTab(tab, event)
            {
	            if (event) event.preventDefault();
	            this.currentCoinTab = tab;
            },

	        BackToList(){
		        this.isOpenChart = false;
            },

	        marketInfo(id){
		        if(this.info_markets[id] == undefined){
			        return {
				        website: "",
				        volume_usd: 0,
				        volume_btc: 0,
				        market_id: "",
			        };
		        }

		        if(this.info_markets[id].formated == undefined)
		        {
			        this.info_markets[id].formated = true;
			        this.info_markets[id].volume_usd = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' , minimumFractionDigits: 0, maximumFractionDigits: 0}).format(this.info_markets[id].volume_usd);
			        this.info_markets[id].volume_btc = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'BTC' , minimumFractionDigits: 2, maximumFractionDigits: 8}).format(this.info_markets[id].volume_btc);
                }

		        return this.info_markets[id];

	        },

	        ShowUSDChart()
            {
            	this.selectedChart = "usd";
	            this.chart_values = this.chart_original_values.price_usd;

	            this.chartOptions.series.data = this.chart_values.map(function (item) {
		            return item[1];
	            });

                this.selectedChartOption = 1;

	            this.chartOptions.xAxis.data = this.chart_values.map(function (item) {
		            return new Date(item[0]).toISOString().slice(0,10);//new Date(item[0]).toLocaleFormat("%Y-%m-%d");
	            });
                this.isOpenChartsDropdown = !this.isOpenChartsDropdown
                this.chartOptions.series.name = "Price USD";
                this.chartSelected = "Price USD Chart";
	            this.chartOptions.dataZoom[0].start = 0;
            },

	        ShowBTCChart()
	        {
		        this.selectedChart = "btc";
		        this.chart_values = this.chart_original_values.price_btc;

		        this.chartOptions.series.data = this.chart_values.map(function (item) {
			        return item[1];
		        });

                this.selectedChartOption = 2;

		        this.chartOptions.xAxis.data = this.chart_values.map(function (item) {
			        return new Date(item[0]).toISOString().slice(0,10);//new Date(item[0]).toLocaleFormat("%Y-%m-%d");
		        });

                this.isOpenChartsDropdown = !this.isOpenChartsDropdown;
                this.chartOptions.series.name = "Price BTC";
                this.chartSelected = "Price BTC Chart";
                this.chartOptions.dataZoom[0].start = 0;
            },

            ShowMarketCapChart()
	        {
		        this.selectedChart = "market";
		        this.chart_values = this.chart_original_values.market_cap_by_available_supply;
                this.selectedChartOption = 3;
		        this.chartOptions.series.data = this.chart_values.map(function (item) {
			        return item[1];
		        });

		        this.chartOptions.xAxis.data = this.chart_values.map(function (item) {
			        return new Date(item[0]).toISOString().slice(0,10);//new Date(item[0]).toLocaleFormat("%Y-%m-%d");
		        });

                this.chartOptions.series.name = "Price USD";
                this.chartSelected = "Market Cap Chart";
                this.isOpenChartsDropdown = !this.isOpenChartsDropdown;
                this.chartOptions.dataZoom[0].start = 0;
            },

            sort(id, event){

	            if (event) event.preventDefault();

	        	if(this.sort_by_field == id){
	        		if(this.sort_type == "asc")
				        this.sort_type = "desc";
	        		else
				        this.sort_type = "asc";
                } else {
	        	    if(id == 'name') {
                        this.sort_type = "asc";
                    } else {
                        this.sort_type = "desc";
                    }
			        this.sort_by_field = id;
                }
            },

            sortMarket(id, event){
                if(event) event.preventDefault();

	        	if(this.sort_markets_by_field == id){
	        		if(this.sort_markets_type == "asc")
				        this.sort_markets_type = "desc";
	        		else
				        this.sort_markets_type = "asc";
                } else {
			        this.sort_markets_by_field = id;
			        this.sort_markets_type = "desc";
                }
            },

            UpdateSelectedPeriod(){
            	this.UpdateChart(this.selectedCoin.coin_id);
            },

            UpdateChart(id){

	            //this.selectedChart = "usd";
	            this.isOpenChart = true;
	            this.isLoadingChart = true;

                for(var i = 0; i < this.coin_markets.length; i++)
                {
                    if(this.coin_markets[i].coin_id == id){
	                    this.selectedCoin = this.coin_markets[i];
                    	break;
                    }
                }

                let to = new Date().getTime();
	            let from = to - 60 * 60 * 24 * 30 * 12 * 5 * 1000;

                switch(this.selectedPeriod)
                {
                    case "1D":
	                    from = to - 60 * 60 * 24 * 1000;
                    	break;
	                case "7D":
		                from = to - 60 * 60 * 24 * 7 * 1000;
		                break;
	                case "1M":
		                from = to - 60 * 60 * 24 * 30 * 1000;
		                break;
	                case "3M":
		                from = to - 60 * 60 * 24 * 30 * 3 * 1000;
		                break;
	                case "1Y":
		                from = to - 60 * 60 * 24 * 30 * 12 * 1000;
		                break;
	                case "YTD":
		                from = new Date(new Date().getFullYear() + "-01-01").getTime();
		                break;
                    default:
                    	break;
                }

	            this.$http.get(process.env.WRAPPER_URL+""+process.env.GRAPH_URL+'/'+id+'/'+from+'/'+to+'/').then((response) => {

		            this.chart_original_values = response.data;
                    if(this.selectedChartOption == 1) {
                        this.chart_values = this.chart_original_values.price_usd;
                    } else if(this.selectedChartOption == 2) {
                        this.chart_values = this.chart_original_values.price_btc;
                    } else {
                        this.chart_values = this.chart_original_values.market_cap_by_available_supply;
                    }

		            this.chartOptions.series.data = this.chart_values.map(function (item) {
			            return item[1];
		            });

		            this.chartOptions.xAxis.data = this.chart_values.map(function (item) {
		            	let d = new Date(item[0]).toISOString();
			            let f = d.slice(0,19).replace("T", " ");//new Date(item[0]).toLocaleFormat("%Y-%m-%d");
			            return f;
		            });

		            this.chartOptions.dataZoom[0].startValue = new Date((new Date().getTime()) - 60 * 60 * 24 * 90 * 1000).toISOString().slice(0,10);//new Date((new Date().getTime() / 1000) - 60 * 60 * 24 * 30).toLocaleFormat("%Y-%m-%d");
		            this.isLoadingChart = false;

	            });
            },

	        sortArrowMarket(id){
		        if(this.sort_markets_by_field == id && this.sort_markets_type == "asc")
		        {
			        return "↑";
		        }

		        if(this.sort_markets_by_field == id && this.sort_markets_type == "desc")
		        {
			        return "↓";
		        }

		        return "";
	        },
            sortArrowMarketNew(id){
                if(this.sort_markets_by_field == id && this.sort_markets_type == "asc")
                {
                    return true;
                }

                if(this.sort_markets_by_field == id && this.sort_markets_type == "desc")
                {
                    return false;
                }

            },

	        sortArrow(id){
		        if(this.sort_by_field == id && this.sort_type == "asc")
		        {
			        return { 'ion-ios-arrow-up': true, 'selected-table-title': true };
		        }

		        if(this.sort_by_field == id && this.sort_type == "desc")
		        {
			        return { 'ion-ios-arrow-down': true, 'selected-table-title': true };
		        }

		        return { 'ion-ios-arrow-down': true };
	        },
        },

	    beforeDestroy () {
        	if(this.storeMutationSubscriber != null)
        	{
		        this.storeMutationSubscriber ();
		        this.storeMutationSubscriber = null;
            }
	    },

	    watch: {
		    '$route.params.coin': function (coin) {

			    this.UpdateChart(coin);
		    }
	    },

        mounted(){
		        let loaded = 0;
		        if(this.coin_markets.length == 0 || this.info_markets == undefined)
		        {
			        this.loading = true;
		        }

		        this.storeMutationSubscriber = this.$store.subscribe (( mutation, state ) => {

			        switch ( mutation.type ) {
				        case "markets/" + mutation_types.M_COINS_LOAD_COMPLETE:
				        case "markets/" + mutation_types.M_MARKET_LOAD_COMPLETE:
					        loaded--;

					        if(loaded <= 0)
					        {
						        if(this.$route.params.coin != undefined)
						        {
							        this.UpdateChart(this.$route.params.coin);
						        }

						        this.loading = false;

						        this.storeMutationSubscriber();
						        this.storeMutationSubscriber = null;
					        }

					        break;
			        }
		        });
		        if(this.coin_markets.length == 0)
		        {   loaded++;
			        this.$store.dispatch('markets/'+types.A_LOAD_COINS);
		        }

		        if(this.info_markets == undefined)
		        {
			        loaded++;
			        this.$store.dispatch('markets/'+types.A_LOAD_MARKETS);
		        }

		        if(this.$route.params.coin != undefined && this.coin_markets.length > 0 && this.info_markets != undefined){
			        this.UpdateChart(this.$route.params.coin);
		        }

		        if(loaded == 0){
			        this.storeMutationSubscriber();
			        this.storeMutationSubscriber = null;
		        }

        },
    }

</script>

<style>
    .currency-bg {
        width: 100%;
        background: url("../../assets/currency-bg-new.jpg") 0% 0% no-repeat;
        background-size: cover;
        margin-left: 0;
        height: 371px;
    }
    .second-block {
        margin-top: 40px;
    }
    .short-name p{
        font-size: 13px;
        font-family: Roboto;
        color: #ffffff;
        text-align: center;
        font-weight: 400;
    }
    .short-name{
        background-color: #168af0;
        border-radius: 3px;
        padding: 2px 9px;
    }
    .full-name p{
        font-size: 35px;
        color: #ffffff;
    }
    .vertical-align{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .capital-name, .capital-sum {
        padding-right: 40px;
    }
    .capital-name p{
        font-size: 19px;
        font-family: Roboto;
        color: #ffffff;
    }
    .capital-sum p{
        font-size: 19px;
        font-weight: 600;
        font-family: 'Roboto';
        color: #168af0;
    }
    .one-currency p{
        font-size: 16px;
        color: #ffffff;
        font-weight: 100;
    }
    .one-currency-sum {
        font-size: 48px;
        color: #168af0;
        font-weight: 600;
    }
    .one-currency-statistic {
        font-size: 16px;
        color: #00c47a;
        font-weight: 600;
        display: inline-block;
        vertical-align: top;
        padding-top: 10px;
    }
    .one-currency-statistic-icon img{
        width: 13px;
        vertical-align: middle;
    }
    .currency-details {
        font-size: 13px;
        color: #ffffff;
    }
    .currency-links-site span {
        display: inline-block;
        margin-left: 10px;
        font-size: 13px;
    }
    .currency-links-site {
        font-size: 13px;
    }
    .currency-links-mess {
        width: 12%;
        display: inline-block;
    }
    .currency-links-mess a{
        color: #ffffff;
        font-size: 13px;
    }
    .greenColorText {
        color: #00c47a;
    }
    .redColorText {
        color: red;
    }
    .currency-links-right{
        padding-right: 40px;
        margin-bottom: 0;
        justify-content: flex-end
    }
    .currency-links-right-number {
        padding: 5px 14px;
        background-color: #168af0;
        color: #fff;
        font-weight: 400;
        border-radius: 5px;
        font-size: 13px;
        display: inline-block;
        margin-right: 20px;
    }
    .currency-links-right-buy{
        background-color: #00c47a;
        border-radius: 5px;
        color: #fff;
        font-weight: 400;
        border: none;
        padding: 6px 14px;
        font-size: 13px;
    }
    .card-market-list {
        font-size: 14px;
        box-shadow: none !important;
    }
    .card-market-list .card-header {
        box-shadow: none !important;
        margin-left: 2%;
    }
    .dropdown-menu {
        min-width: 40px !important;
    }
    .dropdown-content div {
        text-align: left;
    }
    .dropdown-charts-menu span{
        width: 100%;
        border: none;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .dropdow-main-box {
        justify-content: space-between;
        display: flex;
        width: 85%;
        margin: 0 0 0 4%;
    }
    .dropdow-main-box .dropdown-menu {
        display: block;
    }
    .daysCheckRadio[type=radio]:checked + label{
        background-color: #168af0;
        border-radius: 4px;
        padding: 6px 20px;
        text-align: center;
        color: #ffffff;
    }
    .right-dropdown button {
        font-size: 10pt;
        padding: 2px 20px;
    }
    .daysCheckRadio[type=radio] + label{
        background-color: #ffffff;
        border: 1px dotted #b1b1b1;
        border-radius: 4px;
        padding: 6px 20px;
        text-align: center;
        color: #000000;
        font-size: 13px;
        margin: 0.3em;
    }
    .is-checkradio[type=radio]+label::after, .is-checkradio[type=radio]+label::before {
        width: 0;
        height: 0;
        content: none;
    }
    .left-dropdown-box {
        display: inline-block;
        padding: 0 0 15px 0px;
    }
    .dropdown-charts-menu .button.is-success:active,
    .dropdown-charts-menu .button.is-success.is-active,
    .dropdown-charts-menu .button.is-success:hover,
    .dropdown-charts-menu .button.is-success,
    .dropdown-charts-menu .button.is-success.is-hovered{
        color: #168af0;
        background: none;
        border-color: transparent;
    }
    .chartsArrowRotate {
        transform: rotate(180deg);
    }
    img.svg {
        filter: invert(1) sepia(1) saturate(5) hue-rotate(175deg);
        transform: rotate(-10deg);
        width: 120px;
        margin-top: 16%;
        margin-left: 18%;
    }
    .left-dropdown {
        display: inline-block;
    }
    .right-dropdown {
        display: inline-block;
        /*width: 33%;*/
        /*justify-content: flex-end;*/
        margin-right: 0px;
        margin-top: -2px;
    }
    .right-dropdown-back-to-list a.button.is-white-base{
        color: #363636;
        font-size: 10pt;
        font-family: 'Roboto';
        border: 1px solid #dbdbdb;
        padding: 4px 10px;
        font-weight: 400;

    }
    .right-dropdown-back-to-list {
        /*margin-right: 25px;*/
        text-align: right;
        padding: 0;
    }

    .ripple-style {
        margin-top: 16%!important;
        margin-left: 16%!important;
    }
    .perscent_img_st {
        width: 20px!important;
        margin-left: 0px;
        margin-top: 0px!important;
        display: inline-block;
        top: -5px;
        position: relative;
    }
    .netUp {
        color: #ffffff!important;
    }
    .currency-links-site img {
        width: 12px;
        vertical-align: middle;
    }
    .dropdown.is-right {
        padding: 0 0 0 15px;
    }
</style>