<template>
    <div class="columns">
        <div class="column">

            <h1 class="title has-text-centered primary-title">{{ 'World Market' | translate }}</h1>

            <div class="table-backgound">

                <table class="table is-hoverable is-fullwidth">
                    <thead>
                    <tr>
                        <th><a :class="{'selected-table-title': sort_by_field == 'rank'}" @click="sort('rank', $event)" href="#">#</a>&nbsp;<span class="icon"><i :class="sortArrow('rank')"></i></span></th>
                        <th><a :class="{'selected-table-title': sort_by_field == 'name'}" @click="sort('name', $event)" href="#">{{ 'Name' | translate }}</a>&nbsp;<span class="icon"><i :class="sortArrow('name')"></i></span></th>
                        <th style="min-width:150px;"><a :class="{'selected-table-title': sort_by_field == 'market_cap_usd'}" @click="sort('market_cap_usd', $event)" href="#">{{ 'Market Cup' | translate }}</a><span class="icon"><i :class="sortArrow('market_cap_usd')"></i></span></th>
                        <th style="min-width:150px;"><a :class="{'selected-table-title': sort_by_field == 'price_usd'}" @click="sort('price_usd', $event)" href="#">{{ 'Price' | translate }}</a>&nbsp;<span class="icon"><i :class="sortArrow('price_usd')"></i></span></th>
                        <th v-show="!isShort"><a :class="{'selected-table-title': sort_by_field == 'price_btc'}" @click="sort('price_btc', $event)" href="#">{{ 'Price BTC' | translate }}</a>&nbsp;<span class="icon"><i :class="sortArrow('price_btc')"></i></span></th>
                        <th style="min-width:150px;"><a :class="{'selected-table-title': sort_by_field == 'volume_24h_usd'}" @click="sort('volume_24h_usd', $event)" href="#">{{ 'Volume (24h)' | translate }}</a>&nbsp;<span class="icon"><i :class="sortArrow('volume_24h_usd')"></i></span></th>
                        <th><a :class="{'selected-table-title': sort_by_field == 'available_supply'}" @click="sort('available_supply', $event)" href="#">{{ 'Total units' | translate }}</a>&nbsp;<span class="icon"><i :class="sortArrow('available_supply')"></i></span></th>
                        <th style="min-width:150px;" v-show="!isShort"><a :class="{'selected-table-title': sort_by_field == 'percent_change_1h'}" @click="sort('percent_change_1h', $event)" href="#">{{ 'Change (1h)' | translate }}</a>&nbsp;<span class="icon"><i :class="sortArrow('percent_change_1h')"></i></span></th>
                        <th  :class="{'selected-table-title': sort_by_field == 'percent_change_24h'}" style="min-width: 150px;"><a @click="sort('percent_change_24h', $event)" href="#">{{ 'Change (24h)' | translate }}</a>&nbsp;<span class="icon"><i :class="sortArrow('percent_change_24h')"></i></span></th>
                        <th v-show="!isShort"><a :class="{'selected-table-title': sort_by_field == 'percent_change_7d'}" @click="sort('percent_change_7d', $event)" href="#">{{ 'Change (7d)' | translate }}</a>&nbsp;<span class="icon"><i :class="sortArrow('percent_change_7d')"></i></span></th>
                        <th>{{ 'Price Graph' | translate }}</th>
                    </tr>
                    </thead>

                    <tbody>

                    <tr v-show="loading" style="vertical-align: middle; min-height: 150px;">
                        <td colspan="8"><ClipLoader :loading="loading" color="#666666"></ClipLoader></td>
                    </tr>

                    <tr v-for="row in tableData" :key="row.coin_id">

                        <td :key="'item-row-id-'+row.coin_id">{{row.rank}}</td>
                        <td :key="'item-row-name-'+row.coin_id"><img style="width: 18px; height: 18px;" :src="imageBaseUrl+'/icon_'+row.coin_id+'.png'" align="absmiddle" />&nbsp;&nbsp;&nbsp;<a class="coin-list-link" :href="'#/markets/'+row.coin_id">{{row.name}}</a></td>
                        <td :key="'item-row-cap-'+row.coin_id">{{row.market_cap_usd_formated}}</td>
                        <td :key="'item-row-price-'+row.coin_id">{{row.price_usd_formated}}</td>
                        <td :key="'item-row-btc-'+row.coin_id" v-show="!isShort">{{row.price_btc_formated}}</td>
                        <td :key="'item-row-volume24-'+row.coin_id">{{row.volume_24h_usd_formated}}</td>
                        <td :key="'item-row-supply-'+row.coin_id">{{row.available_supply_formated}}</td>
                        <td :key="'item-row-change1-'+row.coin_id" v-show="!isShort" :class="row.percent_change_1h_class">{{row.percent_change_1h_formated}}</td>
                        <td :key="'item-row-change24-'+row.coin_id" :class="row.percent_change_24h_class">
                            {{row.percent_change_24h_formated}}
                            <img style="width: 11px; margin-left: 6px" :src="arrowImgScr(row.percent_change_24h_formated)" alt="">
                        </td>
                        <td :key="'item-row-change7-'+row.coin_id" v-show="!isShort" :class="row.percent_change_7d_class">{{row.percent_change_7d_formated}}</td>
                        <td style="min-height: 72px; text-align: center"><img style="min-height: 2px;" :src="imageBaseUrl+'/'+row.coin_id+'.png?generation='+row.generation+''" @error="onerrorimg"/></td>

                    </tr>

                    </tbody>
                </table>
            </div>

            <br/>
            <div class="columns">
                <div class="column has-text-right">
                    <a href="#/markets" class="button is-small is-white-base">
                                    <span class="icon is-small">
                                      <i class="ion-chevron-down"></i>
                                    </span>
                        &nbsp;&nbsp;{{ 'View All' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

	import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
	import GlobalInfo from '@/components/coin-market/global'

	import * as types from '@/stores/modules/markets/types.action';
	import * as mutation_types from '@/stores/modules/markets/types.mutations';

    export default
    {
    	name: 'GeneralCoinValues',

	    props: ['show'],

        components: {
	        ClipLoader, GlobalInfo
        },

        data(){
    		return {

			    loading: false,
                isCollapsed: true,
                isShort: true,

                sort_by_field: "market_cap_usd",
                sort_type: "desc",

			    sort_markets_by_field: "source",
			    sort_markets_type: "asc",

                emptyChartImg: require('@/assets/empty.png'),

			    imageBaseUrl: process.env.GOOGLE_STORAGE_COINMARKET_URL,

			    cacheControl: new Date().getTime(),

			    selectedCoin : null,

                selectedChart: "usd",
			    storeMutationSubscriber: () => {},
            };
        },

        mounted(){
	        this.storeMutationSubscriber =
		        this.$store.subscribe (( mutation, state ) => {

			        switch ( mutation.type ) {
				        case "markets/" + mutation_types.M_COINS_LOAD_COMPLETE:
				        case "markets/" + mutation_types.M_MARKET_LOAD_COMPLETE:

					        this.loading = false;
					        break;
			        }
		        });

	        setTimeout(() => {
		        if(this.coin_markets.length == 0)
		        {
			        this.loading = true;
			        this.$store.dispatch('markets/'+types.A_LOAD_COINS);
		        }
            }, 1000);
        },

	    beforeDestroy () {
		    this.storeMutationSubscriber ();
		    this.storeMutationSubscriber = null;
	    },

        computed: {

	        coin_markets(){
		        return this.$store.state.markets.coins;
	        },

            tableData(){

            	let showCount = parseInt(this.show) || 10;
            	let res;

	            let Sort = (a, b) => {

		            if(this.sort_by_field == "name")
		            {
			            if (a[this.sort_by_field].toLowerCase() > b[this.sort_by_field].toLowerCase()) {
				            return 1;
			            }
			            if (a[this.sort_by_field].toLowerCase() < b[this.sort_by_field].toLowerCase()) {
				            return -1;
			            }
		            } else {
			            if (a[this.sort_by_field] > b[this.sort_by_field]) {
				            return 1;
			            }
			            if (a[this.sort_by_field] < b[this.sort_by_field]) {
				            return -1;
			            }
		            }

		            return 0;
	            };

	            let sorted = (this.sort_type == "asc") ? this.coin_markets.sort(Sort) : this.coin_markets.sort(Sort).reverse();

                if(this.isCollapsed){
	                res = sorted.slice(0, showCount);
                } else {
	                res = sorted;
                }

	            return res;
            },
        },

        methods: {

            onerrorimg(e) {
                if (e.target.src !== this.emptyChartImg) {
                    e.target.src = this.emptyChartImg;
                }
            },
            arrowImgScr:function(id) {
                if(id.indexOf('-') > -1) {
                    return this.arrowUpImg = require('@/assets/arrow-down.png')
                } else {
                    return this.arrowUpImg = require('@/assets/arrow-up.png')
                }
            },
	        onReady(instance, echarts)
            {
            	this.echarts = instance;
            },

	        BackToList(){
		        this.isOpenChart = false;
            },

	        marketInfo(id){
		        if(this.info_markets[id] == undefined){
			        return {
				        website: "",
				        volume_usd: 0,
				        volume_btc: 0,
				        market_id: "",
			        };
		        }

		        if(this.info_markets[id].formated == undefined)
		        {
			        this.info_markets[id].formated = true;
			        this.info_markets[id].volume_usd = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' , minimumFractionDigits: 0, maximumFractionDigits: 0}).format(this.info_markets[id].volume_usd);
			        this.info_markets[id].volume_btc = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'BTC' , minimumFractionDigits: 2, maximumFractionDigits: 8}).format(this.info_markets[id].volume_btc);
                }

		        return this.info_markets[id];

	        },

            sort(id, event){
	            if (event) event.preventDefault();

	        	if(this.sort_by_field == id){
	        		if(this.sort_type == "asc"){
                        this.sort_type = "desc";
                    }
	        		else{
                        this.sort_type = "asc";
                    }
                } else {
                    if(id == 'name') {
                        this.sort_type = "asc";
                    } else {
                        this.sort_type = "desc";
                    }
			        this.sort_by_field = id;
                }
            },

            sortMarket(id){

	        	if(this.sort_markets_by_field == id){
	        		if(this.sort_markets_type == "asc")
				        this.sort_markets_type = "desc";
	        		else
				        this.sort_markets_type = "asc";
                } else {
			        this.sort_markets_by_field = id;
			        this.sort_markets_type = "desc";
                }
            },

	        sortArrowMarket(id){
		        if(this.sort_markets_by_field == id && this.sort_markets_type == "asc")
		        {
			        return "↑";
		        }

		        if(this.sort_markets_by_field == id && this.sort_markets_type == "desc")
		        {
			        return "↓";
		        }

		        return "↓";
	        },

	        sortArrow(id){
		        if(this.sort_by_field == id && this.sort_type == "asc")
		        {
			        return { 'ion-ios-arrow-up': true, 'selected-table-title': true };
		        }

		        if(this.sort_by_field == id && this.sort_type == "desc")
		        {
			        return { 'ion-ios-arrow-down': true, 'selected-table-title': true };
		        }

		        return { 'ion-ios-arrow-down': true };
	        },
        },
    }

</script>

<style>

</style>