<template>
    <div class="columns trade-block-columns">
        <div class="column centered full-height-without-banner" v-show="loading">
            <ClipLoader :loading="loading" color="#666666"></ClipLoader>
        </div>
        <div class="trade-block"  v-for="(row, index) in tradeData">
            <div class="trade-block-header">
                <div class="column">
                    <div class="columns trade-block-header-box">
                        <div class="trade-block-header-left">
                            <span>ETHEREUM</span>
                            <span class="styleShortName">{{row['name']}}</span>
                        </div>
                        <div class="trade-block-header-right">
                            <span :style="{color: percentStatusColor(0)}">
                                0%
                            </span>
                            <img  :src="arrowImgScr(0)" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="trade-block-center">
                <div class="column">
                    <div class="columns trade-block-center-box">
                        <div class="trade-block-center-left">
                            <div class="trade-block-center-left-btc">
                                <p v-show="(2 != 1)">0 BTC</p>
                            </div>
                            <div class="trade-block-center-left-dollar">
                                <p>0</p>
                            </div>
                        </div>
                        <div class="trade-block-center-right">
                            <div class="trade-block-center-right-logo">
                                <img :src="imageBaseUrl+'/svg/'+row.coin_id+'.svg'" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="trade-block-graph" style="height: 400px;">

            </div>
        </div>
    </div>

</template>

<script>
    import * as types from '@/stores/modules/trades/types.actions';
    import * as mutation_types from '@/stores/modules/trades/types.mutations';
    import ClipLoader from 'vue-spinner/src/ClipLoader.vue'

    export default
    {
        name: 'tradeData',

        data() {
            return {
                isLoadingChart: false,
                loading: false,
                arrowUpImg: '',
                imageBaseUrl: process.env.GOOGLE_STORAGE_COINMARKET_URL,
                storeMutationSubscriber: () => {},
                trades_list: [],
            }
        },
        components: {
          ClipLoader,
        },

        mounted(){
            this.storeMutationSubscriber =
                this.$store.subscribe (( mutation, state ) => {

                    switch ( mutation.type ) {
                        case "trades/" + mutation_types.M_TRADES_LOAD_COMPLETE:

                            this.loading = false;
                            break;
                    }
                });

            setTimeout(() => {
                if(this.trades.length == 0)
                {
                    this.loading = true;
                    this.$store.dispatch('trades/'+types.A_LOAD_TRADES);
                }
            }, 1000);
        },

        beforeDestroy () {
            this.storeMutationSubscriber ();
            this.storeMutationSubscriber = null;
        },

        computed: {
            trades() {
                return this.$store.state.trades.trades
            },
            tradeData() {
                let trades = this.trades || []
                return trades;
            }
        },

        methods: {
            percentStatusColor:function(id) {
                if(id < 0) {
                    return 'red'
                } else if (id > 0){
                    return '#00c47a'
                } else {
                    return '#168af0'
                }
            },
            arrowImgScr:function(id) {
                if(id < 0) {
                    this.colorClassPercent = 'red'
                    return this.arrowUpImg = require('@/assets/arrow-down.png')
                } else if (id > 0){
                    this.colorClassPercent = '#00c47a'
                    return this.arrowUpImg = require('@/assets/arrow-up.png')
                } else {
                    this.colorClassPercent = '#ffffff'
                    return this.arrowUpImg = require('@/assets/empty.png')
                }
            }
        }

    }

</script>

<style>
    .trade-block-header {
        padding: 0 35px;
    }
    .trade-block-columns {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;
        justify-content: space-between;
    }
    .trade-block-header-left {
        display: flex;
        justify-content: space-between;
        font-size: 14pt;
    }
    .trade-block-header-box {
        justify-content: space-between;
    }
    .trade-block {
        flex: 0 0 30%;
        display: inline-block;
        height: 215px;
        margin: 30px 0px 0px 0;
        border-radius: 7px;
        padding: 25px 0px 0 0px;
        -webkit-box-shadow: 0px 0px 50px -5px rgba(197,197,197,1);
        -moz-box-shadow: 0px 0px 50px -5px rgba(197,197,197,1);
        box-shadow: 0px 0px 50px -5px rgba(197,197,197,1);
        overflow: hidden;
    }
    .trade-block-header-right {
        font-weight: 500;
        font-size: 18px;
    }
    .trade-block-header-right img{
        width: 13px;
        vertical-align: super;
    }
    .trade-block-header-left {
        font-size: 18px;
    }
    .trade-block-header-left span.styleShortName{
        display: inline-block;
        margin-left: 15px;
        padding: 2px 6px;
        background-color: #168af0;
        color: #ffffff;
        font-weight: 500;
        font-size: 16px;
        border-radius: 4px;
    }
    .trade-block-center-left-btc {
        font-size: 19px;
        font-weight: 600;
    }
    .trade-block-center-left-dollar {
        font-size: 19px;
        font-weight: 600;
        color:#168af0;
    }
    .trade-block-center-right-logo img{
        width:30px;
    }
    .trade-block-center-right {
        width: 30%;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .trade-block-center {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 35px;
        padding-left: 35px;
    }
    .trade-block-center-left{
        width: 70%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .trade-block-graph {
        height: 65px;
        background: url("../../assets/graphs.png");
        background-position: 0% 0%;
        background-size: 100%;
        background-repeat: no-repeat;
        margin: 0 -2px;
    }
    .colorClassPercent {

    }
</style>