<template>

    <div class="columns" style="">
        <div class="column">
            <div class="columns">
                <div class="column" style="display: flex">
                    <div class="trade-change">
                        <div class="dropdown">
                            <div class="dropdown-trigger">
                                <button class="button" v-on:click="isOpenChangeDropdown = !isOpenChangeDropdown" aria-haspopup="true" aria-controls="dropdown-menu3">
                                    <span><span class="trade-change-dollar">$</span> USD</span>
                                    <span :class="[{chartsArrowRotate : isOpenChangeDropdown},'icon is-small']">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="dropdown-menu" v-show="isOpenChangeDropdown" id="dropdown-menu3" role="menu">
                                <div class="dropdown-content">
                                    <a href="" class="dropdown-item">
                                        <span><span class="trade-change-dollar">$</span> USD</span>
                                    </a>
                                    <a href="" class="dropdown-item">
                                        <span><span class="trade-change-dollar">$</span> USD</span>
                                    </a>
                                    <a href="" class="dropdown-item">
                                        <span><span class="trade-change-dollar">$</span> USD</span>
                                    </a>
                                    <a href="" class="dropdown-item">
                                        <span><span class="trade-change-dollar">$</span> USD</span>
                                    </a>
                                    <a href="" class="dropdown-item">
                                        <span><span class="trade-change-dollar">$</span> USD</span>
                                    </a>
                                    <a href="" class="dropdown-item">
                                        <span><span class="trade-change-dollar">$</span> USD</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="trade-title">
                        <h1>TRADE</h1>
                    </div>
                </div>
            </div>
            <Trade></Trade>
            <div class="columns">
                <div class="column trade-view-right">
                    <button class="trade-view-all">
                        <span class="icon is-small"><i class="ion-chevron-down"></i></span>
                        VIEW ALL
                    </button>
                </div>
            </div>
        </div>
    </div>

</template>

<script>

    import Trade from '@/components/coin-market/trade.widget.vue';
    export default
    {
        name: 'tradeList',

        data() {
            return {
                isOpenChangeDropdown : false,
            }
        },

        components: {
            Trade
        }
    }

</script>

<style>
    .trade-change {
        width: 80%;
        text-align: left;
        align-self: center;
    }
    .trade-title {
        width: 100%;
    }
    .trade-title h1 {
        font-size: 40px;
        font-weight: 300;
    }
    .trade-change button .trade-change-dollar {
        color: #168af0;
        font-weight: 600;
    }
    .trade-change button {
        font-size: 12px;
        border:1px dotted transparent;
    }
    .trade-change button span{
        font-weight: 300;
    }
    .trade-change .button:active, .button.is-active {
        border-color: #b5b5b5;
        color: #168af0;
    }
    .trade-change #dropdown-menu3{
        min-width: 75px;
        position: absolute;
        top: -3px;
        left: -75px;
    }
    .trade-change #dropdown-menu3 a.dropdown-item span{
        font-size: 12px;
        font-weight: 300;
    }
    .trade-change #dropdown-menu3 a.dropdown-item span.trade-change-dollar{
        color: #168af0;
        font-weight: 500;
    }
    .trade-change .dropdown-menu {
        display: block;
    }
    .trade-change .dropdown-item{
        padding: 0.2rem 1rem;
    }
    .chartsArrowRotate {
        transform: rotate(180deg);
    }
    button.trade-view-all {
        border: 1px dashed #b1b1b1;
        background-color: #ffffff;
        padding: 8px 12px 7px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        font-size: 12px;
        color: #7D7D7D;
        cursor: pointer;
    }
    button.trade-view-all:hover {
        background-color: #168af0;
        color: #ffffff;
        padding-top: 8px;
        border:1px dashed transparent;
    }
    button.trade-view-all span{
        font-size: 12px;
        vertical-align: middle;
    }
    .trade-view-right {
        text-align: right;
        margin-right: 0px;
    }
</style>